// firm page
//-----------------------------------------------------------------------------------

.main-firm{
    padding: 271px 353px 227px 220px;
    background: url(../img/svg/main-firm-bg.svg) left 9px bottom -42px no-repeat;
    @media (max-width: 1770px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 161px;
        padding-bottom: 213px;
    }
    @media (max-width: 1300px) {
        background-size: 270px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 767px) {
        background-size: 265px;
        background-position: left -20px bottom -32px;
    }
    .section-name{
        color: #91bece;
    }
    .network-text{
        color: #363636;
        margin-bottom: 75px;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
        @media (max-width: 767px){
            margin-bottom: 0;
        }
    }
    .network-btn-row{
        @media (max-width: 767px) {
            height: auto;
        }
    }
    .network-link{
        border-color: #91bece;
        color: #91bece;
    }
    .main-firm-text-block{
        @media (max-width: 767px) {
            height: 154px;
            overflow: hidden;
            margin-bottom: 40px;
        }
    }
    .show-more-btn{
        @media (max-width: 767px) {
            margin-bottom: 26px;
        }
    }
}
.hide-block.active{
    @media (max-width: 767px) {
        height: auto !important;
    }
}
.gen{
    padding: 45px 353px 106px 329px;
    @media (max-width: 1770px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1400px){
        padding-right: 373px;
    }
    @media (max-width: 1430px){
        padding-top: 77px;
        padding-bottom: 80px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    .section-name{
        color: #91bece;
        margin-bottom: 110px;
    }
}
.gen-slider-name-mob{
    display: none;
    @media (max-width: 767px) {
        color: #91bece;
        font-family: $Sofia;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
    }
}
.gen-slider-img{
    width: 333px;
    height: 417px;
    object-fit: cover;
    margin-right: 63px;
    @media (max-width: 767px){
        margin-right: 0;
        width: 289px;
        height: 193px;
        margin-bottom: 20px;
    }
}
.gen-slider-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.gen-slider-text-block{
    width: calc(100% - 396px);
    @media (max-width: 767px){
        width: 100%;
    }
}
.gen-slider{
    width: 1014px;
    max-width: 100%;
    margin-left: 59px;
    margin-bottom: 87px;
    @media (max-width: 1500px){
        margin-left: 0;
    }
    .slick-prev{
        width: 24px;
        height: 40px;
        background: url(../img/svg/prev-arrow.svg) center center no-repeat;
        left: -220px;
        &:before{
            display: none;
        }
        @media (max-width: 1820px) {
            left: -40px;
        }
    }
    .slick-next{
        width: 24px;
        height: 40px;
        background: url(../img/svg/next-arrow.svg) center center no-repeat;
        right: -120px;
        &:before{
            display: none;
        }
        @media (max-width: 1820px) {
            right: -20px;
        }
    }
}
.gen-slider-name{
    color: #91bece;
    font-family: $Sofia;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.23px;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (max-width: 767px) {
        display: none;
    }
}
.gen-slider-paragph-name{
    color: #91bece;
    font-family: $Sofia;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.15px;
    margin-bottom: 20px;
    @media (max-width: 767px){
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
}
.gen-slider-text{
    color: #363636;
    font-family: $SofiaM;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 22px;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    @media (max-width: 767px){
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.12px;
        line-height: 22px;
        color: #91bece;
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.gen-link{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 290px;
    height: 52px;
    border-radius: 10px;
    border: 4px solid #91bece;
    color: #91bece;
    font-family: $Sofia;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.11px;
    text-transform: uppercase;
    margin-left: 336px;
    span{
        margin-right: 36px;
    }
    &:hover{
        text-decoration: none;
    }
    @media (max-width: 767px) {
        display: none;
    }
}
.building{
    padding: 278px 353px 373px 226px;
    background-color: #91bece;
    background-image: url(../img/svg/building-bg.svg);
    background-position: left -44px bottom 95px;
    background-repeat: no-repeat;
    @media (max-width: 1770px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 78px;
        padding-bottom: 116px;
        background-size: 290px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 767px) {
        background-size: 142px;
        background-position: right -17px bottom 218px;
    }
    .section-name{
        line-height: 135px;
        margin-bottom: 20px;
        @media (max-width: 1300px) {
            line-height: 95px;
        }
        @media (max-width: 767px) {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -0.3px;
            line-height: 45px;
        }
    }
    .dedsc-hide{
        height: 240px;
        @media (max-width: 767px){
            height: 382px;
        }
    }
    .network-text{
        margin-left: 377px;
        margin-bottom: 0;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
        @media (max-width: 767px){
            color: #363636;
        }
    }
}
.dedsc-hide{
    overflow: hidden;
    margin-bottom: 48px;
    &.active{
        height: auto !important;
    }
}
.show-more-desc{
    display: block;
    width: 98px;
    height: 39px;
    border-radius: 7px;
    border: 3px solid #fff;
    box-sizing: border-box;
    margin-left: 868px;
    svg{
        transform: rotate(90deg);
        margin-top: -3px;
        path{
            stroke: #fff;
        }
    }
    @media (max-width: 1400px) {
        margin-left: 678px;
    }
    @media (max-width: 1300px) {
        margin-left: 498px;
    }
    @media (max-width: 767px) {
        margin-left: auto;
    }
}
.what{
    padding: 265px 353px 312px 226px;
    background: url(../img/svg/what-bg.svg) left -38px bottom -55px no-repeat;
    @media (max-width: 1770px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 100px;
        padding-bottom: 185px;
    }
    @media (max-width: 1300px) {
        background-size: 320px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 767px) {
        background-size: 216px;
        background-position: left -19px bottom -47px;
    }
    .section-name{
        color: #91bece;
    }
    .dedsc-hide{
        height: 287px;
        .network-text{
            margin-bottom: 0;
        }
        @media (max-width: 767px){
            height: 325px;
        }
    }
    .network-text{
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
        @media (max-width: 767px) {
            color: #363636;
        }
    }
    .show-more-desc{
        border-color: #91bece;
        svg{
            path{
                stroke: #91bece;
            }
        }
    }
}
.als{
    padding: 240px 353px 205px 226px;
    background: url(../img/als-bg.jpg) center center no-repeat;
    background-size: cover;
    @media (max-width: 1770px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 107px;
        padding-bottom: 100px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    .section-name{
        line-height: 135px;
        margin-bottom: 20px;
        @media (max-width: 1200px){
            line-height: 95px;
        }
        @media (max-width: 767px) {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -0.3px;
            line-height: 45px;
        }
    }
    .network-text{
        color: #fff;
        margin-left: 378px;
        margin-bottom: 0;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
    }
    .show-more-btn{
        border-color: #fff;
        svg{
            path{
                stroke: #fff;
            }
        }
    }
}
.als-text-block{
    @media (max-width: 767px) {
        height: 175px;
        overflow: hidden;
        margin-bottom: 36px;
    }
}
.learn{
    padding: 258px 353px 352px 226px;
    position: relative;
    @media (max-width: 1770px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 91px;
        padding-bottom: 280px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    .section-name{
        color: #91bece;
        position: relative;
        z-index: 2;
        @media (max-width: 767px){
            margin-bottom: 66px;
        }
    }
    .network-text{
        margin-bottom: 0;
        margin-left: 377px;
        position: relative;
        z-index: 2;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
        @media (max-width: 767px){
            color: #363636;
        }
    }
}
.learn-img-1{
    position: absolute;
    left: 280px;
    top: 399px;
    @media (max-width: 1850px){
        top: 590px;
    }
    @media (max-width: 1400px) {
        left: 65px;
    }
    @media (max-width: 1430px){
        top: 440px
    }
    @media (max-width: 1300px){
        top: 200px;
        left: 375px;
    }
    @media (max-width: 767px) {
        top: 69px;
        left: 180px;
        transform: rotate(-180deg);
        width: 49px;
        height: 43px;
    }
}
.learn-img-2{
    position: absolute;
    left: 980px;
    bottom: 284px;
    @media (max-width: 1600px){
        left: 680px;
    }
    @media (max-width: 1430px){
        bottom: 194px;
    }
    @media (max-width: 1300px){
        left: 410px;
    }
    @media (max-width: 767px){
        bottom: auto;
        top: 195px;
        left: 40px;
        width: 106px;
        height: 22px;
    }
}
.und{
    padding: 295px 353px 230px 226px;
    background-color: #91bece;
    @media (max-width: 1770px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 100px;
        padding-bottom: 115px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    .section-name{
        text-transform: none;
        line-height: 135px;
        margin-bottom: 170px;
        @media (max-width: 1300px) {
            margin-bottom: 90px;
            line-height: 95px;
        }
        @media (max-width: 767px){
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -0.3px;
            line-height: 45px;
            margin-bottom: 30px;
        }
    }
    .network-text{
        margin-bottom: 0;
        margin-left: 377px;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
        @media (max-width: 767px){
            color: #363636;
        }
    }
}