// index/dashboard page
//-----------------------------------------------------------------------------------

.first{
    box-sizing: border-box;
    padding: 188px 20px 95px 227px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 333px);
    position: relative;
    overflow: hidden;
    @media (max-width: 1730px) {
        padding-left: 100px;
    }
    @media (max-width: 1600px) {
        padding-left: 20px;
    }
    @media (max-width: 1300px) {
        padding-top: 150px;
    }
    @media (max-width: 991px) {
        width: 100%;
    }
    @media (max-width: 767px) {
        padding-bottom: 353px;
    }
}
.page-name{
    font-family: $SofiaB;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.45px;
    line-height: 74px;
    text-transform: uppercase;
    margin-bottom: 45px;
    @media (max-width: 767px) {
        font-size: 30px;
        letter-spacing: -0.23px;
        line-height: 1.2;
        margin-bottom: 33px;
    }
    .first-color{
        color: #2a5e54;
    }
    .second-color{
        color: #819fad;
    }
    .thirsd-color{
        color: #c8dbe4;
    }
}
.first-sub-text{
    font-family: $SofiaB;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.23px;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-width: 767px) {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.13px;
        text-transform: none;
        margin-bottom: 15px;
    }
}
.first-text{
    color: #363636;
    font-family: $Sofia;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.15px;
    line-height: 22px;
    width: 609px;
    max-width: 100%;
    margin-bottom: 144px;
    @media (max-width: 1520px) {
        margin-bottom: 375px;
    }
    @media (max-width: 767px){
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.12px;
        line-height: 18px;
    }
}
.new-block{
    border-radius: 19px;
    background-color: #d6e0de;
    padding: 29px 75px 29px 33px;
    width: 472px;
    max-width: 100%;
    margin-right: 82px;
    box-sizing: border-box;
    @media (max-width: 767px){
        margin-right: 54px;
        width: 300px;
        padding: 20px 47px 27px 20px;
    }
    @media (max-width: 374px){
        width: 250px;
    }
}
.first-new-block{
    position: absolute;
    right: 0;
    bottom: 136px;
    @media (max-width: 1520px){
        bottom: 225px;
    }
    @media (max-width: 991px) {
        bottom: 65px;
    }
}
.new-block-img{
    position: absolute;
    right: -71px;
    bottom: 14px;
    @media (max-width: 767px) {
        width: 157px;
        right: -43px;
        bottom: -6px;
    }
    @media (max-width: 374px){
        bottom: 24px;
    }
}
.new-block-date{
    color: #363636;
    font-family: $SofiaB;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.11px;
    text-transform: uppercase;
    margin-bottom: 17px;
    @media (max-width: 767px){
        font-size: 11px;
        font-weight: 700;
        letter-spacing: -0.08px;
        margin-bottom: 3px;
    }
}
.new-block-name{
    color: #363636;
    font-family: $SofiaB;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.23px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (max-width: 767px){
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.12px;
        margin-bottom: 13px;
    }
}
.new-block-text{
    color: #363636;
    font-family: $Sofia;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.15px;
    @media (max-width: 767px){
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.1px;
    }
}
.scroll-icon-container{
    width: 609px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 991px) {
        display: none;
    }
}
.network{
    background-color: #a7bcb8;
    padding: 287px 20px 267px 226px;
    box-sizing: border-box;
    width: calc(100% - 333px);
    background-image: url(../img/svg/network-bg.svg);
    background-position: left -360px bottom 14px;
    background-repeat: no-repeat;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1430px){
        padding-top: 127px;
        padding-bottom: 487px;
        padding-left: 20px;
    }
    @media (max-width: 1300px) {
        padding-top: 90px;
        padding-bottom: 485px;
        background-size: 452px;
        background-position: left -170px bottom 14px;
    }
    @media (max-width: 991px) {
        width: 100%;
    }
    @media (max-width: 767px){
        background-position: left -180px bottom 75px;
    }
    .network-sub{
        @media (max-width: 767px) {
            display: none;
        }
    }
}
.section-name{
    color: #ffffff;
    font-family: $SofiaB;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    @media (max-width: 1300px) {
        font-size: 100px;
    }
    @media (max-width: 1200px) {
        font-size: 80px;
    }
    @media (max-width: 767px) {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.3px;
        line-height: 43px;
        margin-bottom: 25px;
    }
}
.network-sub{
    color: #ffffff;
    font-family: $SofiaB;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.23px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: 160px;
    @media (max-width: 1300px){
        margin-left: 0;
    }
}
.network-text{
    color: #363636;
    font-family: $Sofia;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.15px;
    line-height: 22px;
    width: 609px;
    max-width: 100%;
    margin-left: 315px;
    margin-bottom: 152px;
    @media (max-width: 1300px){
        margin-left: 0;
        margin-bottom: 42px;
    }
    @media (max-width: 767px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #fff;
        margin-bottom: 25px;
    }
}
.network-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: $SofiaB;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.13px;
    text-transform: uppercase;
    width: 203px;
    height: 52px;
    border-radius: 10px;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    margin-left: 721px;
    &:hover{
        text-decoration: none;
    }
    @media (max-width: 1300px){
        margin-left: 0;
    }
    @media (max-width: 767px){
        font-size: 13px;
        font-weight: 700;
        letter-spacing: -0.1px;
        width: 118px;
        height: 33px;
        border-radius: 7px;
        border: 3px solid #ffffff;
    }
}
.firm{
    padding: 343px 353px 337px 226px;
    box-sizing: border-box;
    background: url(../img/firm-bg.jpg) center center no-repeat;
    background-size: cover;
    @media (max-width: 1730px) {
        padding-left: 100px;
    }
    @media (max-width: 1600px) {
        padding-left: 20px;
    }
    @media (max-width: 1300px){
        padding-top: 160px;
        padding-bottom: 375px;
    }
    @media (max-width: 991px) {
        padding-right: 20px;
    }
    .network-text{
        color: #fff;
        margin-bottom: 30px;
    }
}
.firm-sub{
    color: #ffffff;
    font-family: $Sofia;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.23px;
    text-transform: uppercase;
    margin-left: 160px;
    margin-bottom: 25px;
    @media (max-width: 1300px) {
        margin-left: 0;
    }
    @media (max-width: 767px) {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.12px;
        line-height: 18px;
    }
}
.service{
    background-color: #c8dbe4;
    box-sizing: border-box;
    padding: 240px 353px 169px 218px;
    @media (max-width: 1730px) {
        padding-left: 100px;
    }
    @media (max-width: 1600px) {
        padding-left: 20px;
    }
    @media (max-width: 1300px){
        padding-top: 132px;
        padding-bottom: 50px;
    }
    @media (max-width: 991px) {
        padding-right: 20px;
    }
    .section-name{
        color: #285269;
    }
    .firm-sub{
        margin-left: 100px;
        color: #285269;
        @media (max-width: 1300px){
            margin-left: 0;
        }
    }
    .network-text{
        color: #285269;
        margin-left: 323px;
        @media (max-width: 1300px){
            margin-left: 0;
        }
    }
    .network-link{
        border-color: #285269;
        color: #285269;
        margin-left: 731px;
        @media (max-width: 1300px){
            margin-left: 0;
        }
        @media (max-width: 767px){
            margin-left: auto;
        }
    }
}
.service-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 112px;
    margin-top: 114px;
    @media (max-width: 1695px) {
        margin-left: 0;
    }
    @media (max-width: 767px){
        margin-top: 107px;
        margin-left: -14px;
        margin-right: -14px;
        justify-content: center;
    }
}
.service-item{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-top: 31px;
    margin-right: 22px;
    background-color: #fff;
    &:last-child{
        margin-right: 0;
    }
    @media (max-width: 1390px){
        margin-bottom: 22px;
    }
    @media (max-width: 767px){
        margin: 0 14px 25px;
        width: 93px;
        height: 95px;
        padding-top: 19px;
    }
}
.service-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 59px;
    margin-bottom: 17px;
    @media (max-width: 767px){
        width: 42px;
        height: 42px;
        margin-bottom: 7px;
        svg{
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.service-item-text{
    color: #285269;
    font-family: $SofiaB;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 767px){
        font-size: 8px;
        font-weight: 700;
    }
}
.serificat{
    box-sizing: border-box;
    padding: 225px 353px 199px 226px;
    @media (max-width: 1730px) {
        padding-left: 100px;
    }
    @media (max-width: 1600px) {
        padding-left: 20px;
    }
    @media (max-width: 1300px){
        padding-top: 130px;
        padding-bottom: 167px;
    }
    @media (max-width: 991px) {
        padding-right: 20px;
    }
    .section-name{
        color: #799993;
    }
    .firm-sub{
        color: #799993;
        margin-left: 143px;
        span{
            display: block;
            margin-left: 69px;
            @media (max-width: 767px) {
                margin-left: 34px;
            }
        }
        @media (max-width: 1300px){
            margin-left: 0;
        }
    }
    .network-text{
        color: #363636;
        margin-left: 315px;
        @media (max-width: 1300px){
            margin-left: 0;
        }
    }
    .network-link{
        border-color: #799993;
        color: #799993;
        @media (max-width: 1300px){
            margin-left: auto;
        }
    }
}
.serificat-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 277px;
    margin-top: 96px;
    @media (max-width: 1400px) {
        margin-left: 0;
    }
    @media (max-width: 767px){
        justify-content: center;
        margin: 0 -20px;
    }
}
.serificat-item{
    margin-right: 122px;
    @media (max-width: 1100px){
        margin-right: 70px;
    }
    @media (max-width: 767px){
        margin: 0 20px;
        width: 75px;
        svg{
            max-width: 100%;
        }
    }
}
.section-map{
    position: relative;
    overflow: hidden;
    .section-name{
        position: absolute;
        top: 343px;
        left: 226px;
        color: #799993;
        @media (max-width: 1730px){
            left: 100px;
        }
        @media (max-width: 1600px){
            left: 20px;
        }
        @media (max-width: 767px) {
            top: 180px;
        }
    }
    .firm-sub{
        position: absolute;
        top: 475px;
        left: 553px;
        color: #799993;
        margin-left: 0;
        @media (max-width: 1730px){
            left: 423px;
        }
        @media (max-width: 1600px){
            left: 343px;
        }
        @media (max-width: 1300px){
            left: 20px;
        }
        @media (max-width: 767px){
            top: 251px;
            left: 50px;
        }
    }
    .network-link{
        position: absolute;
        color: #799993;
        border-color: #799993;
        top: 585px;
        left: 872px;
        margin-left: 0;
        @media (max-width: 1730px){
            left: 782px;
        }
        @media (max-width: 1600px){
            left: 702px;
        }
        @media (max-width: 1300px){
            left: 20px;
        }
        @media (max-width: 767px){
            top: 314px;
        }
    }
    .map-img{
        position: absolute;
        right: 499px;
        bottom: -109px;
        @media (max-width: 991px) {
            right: 30px;
        }
        @media (max-width: 767px) {
            width: 96px;
            bottom: -23px;
        }
    }
}
.map{
    height: 1100px;
    @media (max-width: 991px) {
        height: 817px;
    }
}
.logos{
    padding: 73px 353px 18px;
    @media (max-width: 1730px){
        padding-left: 100px;
    }
    @media (max-width: 1600px){
        padding-left: 20px;
    }
    @media (max-width: 991px){
        padding-right: 20px;
        padding-bottom: 0;
        padding-top: 50px;
    }
}
.logos-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1190px;
    max-width: 100%;
    margin: 0 auto;
    @media (max-width: 991px){
        justify-content: center;
    }
}
.logos-item{
    @media (max-width: 767px) {
        max-width: 46%;
        &.mod-full{
            max-width: 100%;
        }
    }
    @media (max-width: 991px) {
        margin: 0 10px 30px;
    }
}