// landkarte page
//-----------------------------------------------------------------------------------

.main-map-section{
    position: relative;    
    overflow: hidden;
    .map-img{
        position: absolute;
        bottom: -109px;
        left: 125px;
        @media (max-width: 991px){
            display: none;
        }
    }
}
.map-modal{
    position: absolute;
    bottom: 0;
    right: 420px;
    width: 736px;
    background-color: #fff;
    display: none;
    @media (max-width: 1200px){
        right: 333px;
        width: 650px;
    }
    @media (max-width: 991px){
        width: 100%;
        right: 0;
    }
}
.map-modal-close{
    position: absolute;
    top: -36px;
    right: 0;
    @media (max-width: 991px){
        right: 24px;
    }
}
.main-map-block{
    height: 1080px;
    width: 100%;
}
.map-modal-photo-row{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    @media (max-width: 767px){
        align-items: flex-start;
    }
}
.map-modal-text-block{
    box-sizing: border-box;
    padding: 47px 65px 34px;
    @media (max-width: 767px) {
        padding: 15px 35px;
    }
}
.map-modal-name{
    color: #91bece;
    font-family: $SofiaB;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.map-modal-text{
    color: #363636;
    font-family: $SofiaM;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 22px;
    margin-bottom: 13px;
}