// network page
//-----------------------------------------------------------------------------------

.main-network{
    padding: 313px 353px 277px 220px;
    background-image: url(../img/svg/main-network-bg.svg);
    background-position: left -360px bottom 14px;
    background-repeat: no-repeat;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1430px) {
        padding-left: 40px;
        padding-top: 127px;
        padding-bottom: 387px;
    }
    @media (max-width: 1300px) {
        background-size: 452px;
        background-position: left -170px bottom 14px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    .section-name{
        color: #a7bcb8;
    }
    .network-text{
        @media (max-width: 767px) {
            color: #363636;
        }
    }
}
.network-btn-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 351px;
    flex-wrap: wrap;
    width: 700px;
    max-width: 100%;
    @media (max-width: 1300px) {
        margin-left: 0;
    }
    @media (max-width: 767px) {
        height: 0;
        overflow: hidden;
        &.active{
            height: auto;
        }
    }
    .network-link{
        margin-left: 0;
        color: #a7bcb8;
        border-color: #a7bcb8;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.11px;
        width: 255px;
        height: 52px;
        margin-right: 40px;
        margin-bottom: 25px;
    }
}
.uber{
    padding: 150px 353px 58px 220px;
    background: url(../img/uber-bg.jpg) center center no-repeat;
    background-size: cover;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
        padding-top: 93px;
        padding-bottom: 370px;
    }
    .network-sub{
        margin-left: 166px;
        @media (max-width: 1300px) {
            margin-left: 0;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    .network-text{
        color: #fff;
        margin-bottom: 0;
    }
}
.project{
    background-color: #a7bcb8;
    padding: 256px 353px 193px 237px;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 35px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
        padding-top: 145px;
        padding-bottom: 98px;
    }
    .network-sub{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.12px;
        line-height: 18px;
        padding-left: 19px;
    }
    .network-text{
        @media (max-width: 1800px) {
            width: 500px;
        }
        @media (max-width: 1330px){
            width: 400px;
        }
        @media (max-width: 767px) {
            color: #363636;
        }
    }
    .show-more-btn{
        border-color: #fff;
        svg{
            path{
                stroke: #fff;
            }
        }
    }
}
.project-text-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1277px;
    max-width: 100%;
    .network-text{
        margin-left: 0;
        margin-bottom: 0;
    }
    @media (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 15px;
        height: 400px;
        overflow: hidden;
        &.active{
            height: auto;
        }
        .network-text{
            width: 100%;
            margin-bottom: 19px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.der{
    padding: 150px 353px 115px 240px;
    @media (max-width: 1730px) {
        padding-left: 150px;
        padding-right: 363px;
    }
    @media (max-width: 1600px) {
        padding-left: 50px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
        padding-top: 120px;
        padding-bottom: 17px;
    }
    .section-name{
        color: #a7bcb8;
        margin-bottom: 130px;
        @media (max-width: 767px) {
            margin-bottom: 45px;
        }
    }
}
.der-slider{
    width: 1116px;
    max-width: 100%;
    margin-bottom: 175px;
    @media (max-width: 767px){
        margin-bottom: 105px;
    }
    .slick-prev{
        width: 24px;
        height: 40px;
        background: url(../img/svg/prev-arrow.svg) center center no-repeat;
        left: -220px;
        &:before{
            display: none;
        }
        @media (max-width: 1820px) {
            left: -40px;
        }
    }
    .slick-next{
        width: 24px;
        height: 40px;
        background: url(../img/svg/next-arrow.svg) center center no-repeat;
        right: -120px;
        &:before{
            display: none;
        }
        @media (max-width: 1820px) {
            right: -20px;
        }
    }
}
.der-slider-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.der-slider-img{
    margin-right: 63px;
    @media (max-width: 767px) {
        width: 110px;
        height: 137px;
        position: absolute;
        left: 0;
        top: 0;
        margin-right: 0;
    }
}
.der-slider-text-block{
    width: calc(100% - 396px);
    @media (max-width: 767px) {
        width: 100%;
    }
}
.der-slider-name{
    color: #a7bcb8;
    font-family: $SofiaB;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.23px;
    text-transform: uppercase;
    margin-bottom: 35px;
    @media (max-width: 767px){
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.12px;
        padding-left: 127px;
        min-height: 137px;
        margin-bottom: 40px;
    }
}
.der-slider-text{
    color: #363636;
    font-family: $SofiaM;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 22px;
    margin-bottom: 55px;
    @media (max-width: 767px){
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.12px;
        line-height: 18px;
        margin-bottom: 22px;
    }
}
.der-slider-logo-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media (max-width: 767px){
        width: 124px;
        margin: 0 auto;
    }
}
.der-logos-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1236px;
    max-width: 100%;
    @media (max-width: 1250px){
        flex-wrap: wrap;
    }
    @media (max-width: 991px) {
        width: auto;
        margin: 0 -10px;
    }
}
.der-logos{
    @media (max-width: 991px) {
        max-width: calc(33.33% - 20px);
        margin: 0 10px 20px;
    }
}
.network-contact{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.network-form{
    padding: 115px 121px 60px 107px;
    background-color: #a7bcb8;
    width: 634px;
    box-sizing: border-box;
    @media (max-width: 1400px) {
        width: 575px;
    }
    @media (max-width: 1260px){
        width: 515px;
    }
    @media (max-width: 991px) {
        width: 100%;
    }
    @media (max-width: 767px) {
        padding: 80px 65px 80px;
    }
    .section-name{
        margin-right: -650px;
        position: relative;
        font-size: 100px;
        font-weight: 700;
        letter-spacing: -0.75px;
        padding-left: 60px;
        margin-bottom: 35px;
        z-index: 1;
        @media (max-width: 1400px){
            padding-left: 0;
        }
        @media (max-width: 1330px) {
            font-size: 80px;
            padding-left: 96px;
        }
        @media (max-width: 1260px){
            padding-left: 36px;
        }
        @media (max-width: 1200px) {
            margin-right: 0;
            padding-left: 0;
        }
        @media (max-width: 767px) {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -0.3px;
            margin-left: -25px;
        }
        span{
            color: #a7bcb8;
            @media (max-width: 1200px){
                color: #fff;
            }
        }
    }
}
.network-contact-right{
    width: calc(100% - 634px);
    background: url(../img/svg/square-bg.svg) left -10px top -10px no-repeat;
    position: relative;
    overflow: hidden;
    @media (max-width: 991px ) {
        display: none;
    }
}
.input-label{
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 85px;
    @media (max-width: 767px){
        margin-bottom: 38px;
    }
}
.input-label-text{
    display: block;
    color: #ffffff;
    font-family: $Sofia;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.14px;
    line-height: 19px;
    margin-bottom: 7px;
    padding-left: 14px;
}
.input{
    width: 100%;
    height: 53px;
    border-radius: 10px;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    background: transparent;
    color: #ffffff;
    font-family: $Sofia;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.14px;
    line-height: 19px;
    text-indent: 14px;
    @media (max-width: 767px){
        height: 34px;
    }
}
.network-sbm{
    color: #a7bcb8;
    font-family: $Sofia;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.14px;
    line-height: 19px;
    height: 53px;
    border-radius: 10px;
    border: 4px solid #ffffff;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
    &:hover{
        background-color: #a7bcb8;
        color: #fff;
    }
    @media (max-width: 767px) {
        height: 34px;
    }
}
.network-contact-img{
    position: absolute;
    bottom: -122px;
    left: 103px;
    @media (max-width: 1500px) {
        left: 20px;
    }
}
.show-more-btn{
    display: none;
    @media (max-width: 767px) {
        display: block;
        width: 98px;
        height: 39px;
        border-radius: 7px;
        border: 3px solid #a7bcb8;
        box-sizing: border-box;
        margin-left: auto;
        svg{
            transform: rotate(90deg);
            margin-top: -3px;
        }
    }
}