// sertificate page
//-----------------------------------------------------------------------------------

.main-sertificate{
    padding: 306px 353px 177px 220px;
    background: url(../img/svg/main-sertificate-bg.svg) bottom -32px right 247px no-repeat;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 127px;
        padding-bottom: 289px;
    }
    @media (max-width: 991px) {
        background-position: bottom -32px right -85px;
        padding-right: 40px;
    }
    @media (max-width: 767px) {
        background: url(../img/svg/main-sertificate-m-bg.svg) bottom -6px left -40px no-repeat;
    }
    .section-name{
        color: #799993;
    }
    .network-btn-row{
        @media (max-width: 767px) {
            display: flex;
            height: auto;
            margin-top: 18px;
        }
    }
    .network-text{
        @media (max-width: 1430px) {
            margin-left: 160px;
        }
        @media (max-width: 1300px){
            margin-left: 0;
        }
        @media (max-width: 767px) {
            color: #363636;
            margin-bottom: 0;
        }
    }
    .main-sertificate-text-block{
        @media (max-width: 767px) {
            height: 155px;
            overflow: hidden;
            margin-bottom: 25px;
        }
    }
    .network-btn-row{
        @media (max-width: 1430px) {
            margin-left: 160px;
        }
        @media (max-width: 1300px){
            margin-left: 0;
        }
    }
}
.sertificate-section{
    padding: 188px 353px 250px 220px;
    background-color: #799993;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 95px;
        padding-bottom: 145px;
    }
    .section-name{
        text-transform: none;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -0.38px;
        width: 1152px;
        max-width: 100%;
        margin-bottom: 90px;
        @media (max-width: 767px) {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -0.12px;
            line-height: 1.2;
            margin-bottom: 80px;
        }
    }
    .show-more-btn{
        @media (max-width: 767px){
            border-color: #fff;
            svg{
                path{
                    stroke: #fff;
                }
            }
        }
    }
}
.sertificate-list-name{
    color: #ffffff;
    font-family: $SofiaB;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.38px;
    margin-bottom: 30px;
    padding-left: 247px;
    span{
        text-transform: uppercase;
    }
    @media (max-width: 767px){
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.12px;
        margin-bottom: -20px;
        padding-left: 82px;
        text-transform: uppercase;
    }
}
.sertificate-list-icon-block{
    width: 155px;
    height: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 260px;
    @media (max-width: 1600px){
        margin-right: 160px;
    }
    @media (max-width: 1300px){
        margin-right: 60px;
    }
    @media (max-width: 767px){
        width: 67px;
        height: 85px;
        margin-right: 15px;
        svg{
            max-width: 100%;
        }
    }
}
.sertificate-list-row{
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 767px) {
        .hide-block{
            height: 195px;
            overflow: hidden;
            margin-bottom: 45px;
        }
    }
}
.sertificate-list-text{
    max-width: 100%;
    color: #363636;
    font-family: $SofiaM;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 22px;
    @media (max-width: 767px){
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.12px;
        line-height: 18px;
        padding-top: 30px;
    }
}
.sertificate-list-text-block{
    width: 609px;
    @media (max-width: 767px){
        width: calc(100% - 82px);
    }
}
.sordung{
    padding: 222px 353px 135px 220px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.27);
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 180px;
        padding-bottom: 120px;
    }
    .section-name{
        color: #799993;
        text-transform: none;
        @media (max-width: 767px) {
            word-wrap: break-word;
        }
    }
    .network-text{
        margin-bottom: 0;
        @media (max-width: 1430px) {
            margin-left: 160px;
        }
        @media (max-width: 1300px){
            margin-left: 0;
        }
        @media (max-width: 767px){
            color: #363636;
        }
    }
}