// services page
//-----------------------------------------------------------------------------------

.service.mod-main{
    background-color: transparent;
    padding: 220px 353px 123px 220px;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 161px;
        padding-bottom: 131px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 767px) {
        padding-top: 111px;
    }
    .section-name{
        color: #c8dbe4;
    }
    .network-text{
        color: #363636;
        margin-left: 315px;
        margin-bottom: 60px;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
    }
    .service-item{
        background-color: #c8dbe4;
    }
}
.mod-main-text-block{
    @media (max-width: 767px) {
        height: 156px;
        overflow: hidden;
        margin-bottom: 30px;
    }
}
.angebote{
    padding: 263px 353px 0 226px;
    background-color: #c8dbe4;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 30px;
    }
    @media (max-width: 1430px){
        padding-top: 77px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 767px){
        padding-right: 27px;
    }
    .section-name{
        color: #285269;
        @media (max-width: 767px){
            color: #fff;
        }
    }
    .network-sub{
        color: #285269;
        font-family: $Sofia;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        margin-left: 309px;
        width: 609px;
        margin-bottom: 45px;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
        @media (max-width: 767px){
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -0.12px;
            line-height: 18px;
            text-transform: none;
        }
    }
}
.angebote-block{
    width: 975px;
    border: 1px solid rgba(200, 219, 228, 0.15);
    max-width: 100%;
    margin-left: auto;
    background: url(../img/angebote-block-bg.png) left -5px top -2px no-repeat;
    box-sizing: border-box;
    padding: 57px 68px 87px;
    @media (max-width: 1100px) {
        padding-right: 5px;
    }
    @media (max-width: 767px){
        background-repeat: repeat;
        padding-right: 25px;
    }
}
.angebote-list{
    width: 641px;
    max-width: 100%;
}
.angebote-text-block{
    height: 294px;
    overflow: hidden;
    margin-bottom: 38px;
}
.angebote-item{
    position: relative;
    padding-left: 32px;
    color: #363636;
    font-family: $SofiaM;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 30px;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 14px;
        height: 14px;
        background-color: #285269;
        border-radius: 50%;
        @media (max-width: 767px){
            width: 8px;
            height: 8px;
        }
    }
    @media (max-width: 767px){
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.12px;
        line-height: 30px;
    }
}
.fur{
    padding: 166px 353px 300px 220px;
    background: url(../img/fur-bg.jpg) center center no-repeat;
    background-size: cover;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 100px;
        padding-bottom: 25px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    .section-name{
        text-transform: none;
        line-height: 135px;
        @media (max-width: 1200px){
            line-height: 95px;
        }
        @media (max-width: 767px) {
            line-height: 1.2;
        }
    }
}
.unite{
    padding: 58px 353px 160px 220px;
    background: url(../img/svg/unite-bg.svg) bottom -64px right 390px no-repeat;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 20px;
        padding-bottom: 45px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 767px){
        background-size: 135px;
        background-position: bottom -12px left 15px;
    }
    .network-text{
        margin-left: 94px;
        margin-bottom: 80px;
        &:last-child{
            margin-bottom: 0;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
        @media (max-width: 767px){
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.12px;
            line-height: 18px;
            color: #363636;
        }
    }
}
.unite-text-block{
    @media (max-width: 767px){
        margin-bottom: 30px;
        height: 112px;
        overflow: hidden;
        .network-text{
            margin-bottom: 0;
        }
    }
}
.unite-name{
    color: #c8dbe4;
    font-family: $SofiaB;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.38px;
    margin-bottom: 35px;
    @media (max-width: 767px) {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.12px;
        margin-bottom: 20px;
    }
}
.service-description{
    background-color: #c8dbe4;
    padding: 152px 353px 155px 115px;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 75px;
        padding-bottom: 80px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 767px){
        padding-left: 20px;
        padding-right: 20px;
    }
}
.service-description-name{
    margin-bottom: 20px;
    width: 730px;
    color: #285269;
    font-family: $SofiaB;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.38px;
    text-transform: uppercase;
    max-width: 100%;
    margin-left: 105px;
    @media (max-width: 991px) {
        width: 580px;
        font-size: 47px;
    }
    @media (max-width: 767px) {
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 88px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.12px;
        margin-bottom: 25px;
    }
}
.service-description-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 766px;
    max-width: 100%;
    margin-bottom: 100px;
    &:last-child{
        margin-bottom: 0;
    }
    @media (max-width: 767px){
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.service-description-icon-block{
    width: 236px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    @media (max-width: 767px){
        margin-top: 0;
        width: 60px;
        height: 60px;
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 50%;
        margin-right: 28px;
        img{
            max-width: 60%;
            max-height: 60%;
        }
    }
}
.service-description-text{
    margin-left: -37px;
    width: 609px;
    color: #285269;
    font-family: $Sofia;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    @media (max-width: 767px){
        margin-left: 0;
        width: calc(100% - 88px);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.12px;
        line-height: 18px;
    }
}
.scule{
    padding: 150px 353px 245px 225px;
    background: url(../img/scule-bg.jpg) center center no-repeat;
    background-size: cover;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 34px;
        padding-bottom: 164px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    .section-name{
        line-height: 134px;
        margin-bottom: 155px;
        @media (max-width: 1200px){
            line-height: 95px;
        }
        @media (max-width: 767px){
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -0.3px;
            line-height: 45px;
            margin-bottom: 25px;
        }
    }
    .network-text{
        margin-bottom: 0;
        color: #fff;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
    }
}
.unser{
    background-color: #c8dbe4;
    padding: 241px 353px 373px 220px;
    background-image: url(../img/svg/unser.svg);
    background-position: left 451px bottom 193px;
    background-repeat: no-repeat;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 102px;
        padding-bottom: 176px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    @media (max-width: 767px){
        background-size: 82px;
        background-position: left 193px top 220px;
    }
    .section-name{
        text-transform: none;
        color: #285269;
        margin-bottom: 140px;
        @media (max-width: 767px){
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -0.3px;
            margin-bottom: 25px;
        }
    }
    .network-text{
        margin-left: 383px;
        color: #285269;
        margin-bottom: 0;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
    }
}
.messe{
    padding: 141px 353px 290px 220px;
    background: url(../img/messe-bg.jpg) center center no-repeat;
    background-size: cover;
    @media (max-width: 1730px) {
        padding-left: 150px;
    }
    @media (max-width: 1600px) {
        padding-left: 40px;
    }
    @media (max-width: 1430px){
        padding-top: 98px;
        padding-bottom: 176px;
    }
    @media (max-width: 991px) {
        padding-right: 40px;
    }
    .section-name{
        line-height: 135px;
        margin-bottom: 40px;
        @media (max-width: 1200px){
            line-height: 95px;
        }
        @media (max-width: 767px){
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -0.3px;
            line-height: 45px;
        }
    }
    .network-text{
        margin-bottom: 0;
        color: #fff;
        @media (max-width: 1400px) {
            margin-left: 165px;
        }
        @media (max-width: 1300px) {
            margin-left: 0;
        }
    }
}