<footer id="footer" class="wrapper footer">
    <div class="footer-row">
        <a href="#" class="footer-link">Impressum</a>
        <a href="#" class="footer-link">Datenschutz</a>
        <a href="#" class="footer-link">Kontakt</a>
        <a href="tel:01234567891" class="footer-link mod-phone">0123/4567891</a>
        <a href="mailto:muster@mail.de" class="footer-link mod-mail">muster@mail.de</a>
    </div>
</footer>
