<header id="header" class="wrapper header">
    <a href="#" class="logo">
        <img class="logo-img" src="assets/img/svg/logo.svg" alt="">
    </a>
    <button type="button" class="call-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="26" viewBox="0 0 38 26"><g><g><path d="M37.143 3.714V0H0v3.714zm0 22.286v-3.714H0V26zm0-11.143v-3.714H0v3.714z"/></g></g></svg>
    </button>
</header>