<nav class="nav">
    <button type="button" class="close-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g><g><path d="M.446 2.629L2.63.446l10.594 10.627L23.85.446 26 2.63 15.405 13.223 26 23.85l-2.151 2.15-10.626-10.594L2.63 26 .446 23.849l10.627-10.626z"/></g></g></svg>
    </button>
    <a href="#" class="nav-logo">
        <img src="assets/img/svg/nav-logo.svg" alt="">
    </a>
    <a href="#" class="nav-link active">Startseite</a>
    <a href="#" class="nav-link">Netzwerk</a>
    <a href="#" class="nav-link">Schülerfirmen</a>
    <a href="#" class="nav-link">Service</a>
    <a href="#" class="nav-link">ZERTIFIKATE</a>
    <a href="#" class="nav-link">LANDKARTE</a>
</nav>