<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin nav -->
  <include src="../chunks/nav.html"></include>
  <!-- End nav -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="main-firm">
        <h2 class="section-name">Schülerfirmen</h2>
        <div class="main-firm-text-block hide-block">
            <p class="network-text">Nachhaltige Schülerfirmen wollen außerdem nicht nur wirtschaftlich erfolgreich sein. Sie wollen auch ökologische und soziale Ziele verfolgen. Produkt, Produktion und Betrieb sollen so gestaltet sein, dass die Natur möglichst wenig belastet wird, die Schülerinnen und Schüler persönlich in ihren sozialen Kompetenzen gestärkt werden, das Miteinander üben können und dabei auch gesellschaftliche Probleme wie z.B. das gemeinsame Wirtschaften in der Einen Welt erfahren. Vernetztes Denken im Nachhaltigkeitsdreieck Wirtschaft, Umwelt und Soziales soll erlernt werden.</p>
        </div>
        <button type="button" class="show-more-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
        <div class="network-btn-row">
            <a href="#" class="network-link">Das Projekt</a>
            <a href="#" class="network-link">Mitglied werden</a>
            <a href="#" class="network-link">Mitglieder des Netzwerkes</a>
        </div>
    </section>
    <section class="gen">
        <h2 class="section-name">Gründungen</h2>
        <div class="js-gen-slider gen-slider">
            <div class="gen-slider-item">
                <div class="gen-slider-row">
                    <h3 class="gen-slider-name-mob">Else-Lasker-Schüler Schule</h3>
                    <img class="gen-slider-img" src="assets/img/gen-1.jpg" alt="">
                    <div class="gen-slider-text-block">
                        <h3 class="gen-slider-name">Else-Lasker-Schüler Schule</h3>
                        <h4 class="gen-slider-paragph-name">Nachhaltiger Aspekt</h4>
                        <p class="gen-slider-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.Lorem ipsum dolor sit amet,</p>
                        <h4 class="gen-slider-paragph-name">Unser Plan</h4>
                        <p class="gen-slider-text">Partnerschaften zwischen Schulen und Unternehmen haben sich in der Vergangenheit als erfolgreiche Instrumente erwiesen, Jugendliche auf ihrem Weg in eine Ausbildung oder ein Studium zu unterstützen. Zahlreiche Unternehmen, darunter auch kleine und mittlere, haben sich mit Schulen vernetzt. Beide Seiten profitieren voneinander und von entstehenden Synergieeffekten.<br>
                            <br>
                            Partnerschaften zwischen Schulen und Unternehmen können</p>
                    </div>
                </div>
            </div>
            <div class="gen-slider-item">
                <div class="gen-slider-row">
                    <h3 class="gen-slider-name-mob">Else-Lasker-Schüler Schule</h3>
                    <img class="gen-slider-img" src="assets/img/gen-1.jpg" alt="">
                    <div class="gen-slider-text-block">
                        <h3 class="gen-slider-name">Else-Lasker-Schüler Schule</h3>
                        <h4 class="gen-slider-paragph-name">Nachhaltiger Aspekt</h4>
                        <p class="gen-slider-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.Lorem ipsum dolor sit amet,</p>
                        <h4 class="gen-slider-paragph-name">Unser Plan</h4>
                        <p class="gen-slider-text">Partnerschaften zwischen Schulen und Unternehmen haben sich in der Vergangenheit als erfolgreiche Instrumente erwiesen, Jugendliche auf ihrem Weg in eine Ausbildung oder ein Studium zu unterstützen. Zahlreiche Unternehmen, darunter auch kleine und mittlere, haben sich mit Schulen vernetzt. Beide Seiten profitieren voneinander und von entstehenden Synergieeffekten.<br>
                            <br>
                            Partnerschaften zwischen Schulen und Unternehmen können</p>
                    </div>
                </div>
            </div>
            <div class="gen-slider-item">
                <div class="gen-slider-row">
                    <h3 class="gen-slider-name-mob">Else-Lasker-Schüler Schule</h3>
                    <img class="gen-slider-img" src="assets/img/gen-1.jpg" alt="">
                    <div class="gen-slider-text-block">
                        <h3 class="gen-slider-name">Else-Lasker-Schüler Schule</h3>
                        <h4 class="gen-slider-paragph-name">Nachhaltiger Aspekt</h4>
                        <p class="gen-slider-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.Lorem ipsum dolor sit amet,</p>
                        <h4 class="gen-slider-paragph-name">Unser Plan</h4>
                        <p class="gen-slider-text">Partnerschaften zwischen Schulen und Unternehmen haben sich in der Vergangenheit als erfolgreiche Instrumente erwiesen, Jugendliche auf ihrem Weg in eine Ausbildung oder ein Studium zu unterstützen. Zahlreiche Unternehmen, darunter auch kleine und mittlere, haben sich mit Schulen vernetzt. Beide Seiten profitieren voneinander und von entstehenden Synergieeffekten.<br>
                            <br>
                            Partnerschaften zwischen Schulen und Unternehmen können</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="gen-link">
            <span>Alle  auf der Landkarte</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><g><g><g><path fill="#91bece" d="M2.635 13.905L1.56 12.774 12.308 1.46l1.075 1.132z"/><path fill="none" stroke="#91bece" stroke-miterlimit="50" d="M2.635 13.905v0L1.56 12.774v0L12.308 1.46v0l1.075 1.132v0z"/></g><g><path fill="#91bece" d="M12.086 13.672V1.693h1.518v11.98z"/><path fill="none" stroke="#91bece" stroke-miterlimit="50" d="M12.086 13.672v0V1.693v0h1.518v11.98z"/></g><g><path fill="#91bece" d="M1.781 2.825V1.227h11.38v1.598z"/><path fill="none" stroke="#91bece" stroke-miterlimit="50" d="M1.781 2.825v0-1.598 0h11.38v1.598z"/></g></g></g></svg>
        </a>
    </section>
    <section class="building">
        <h2 class="section-name">Bildung für<br> Nachhaltige<br> ENtwicklung</h2>
        <div class="dedsc-hide">
            <p class="network-text">Mit Nachhaltigkeit verbinden viele Menschen vor allem den Schutz von Klima, Umwelt und Natur. Doch nachhaltige Entwicklung bedeutet weit mehr. Neben ökologischen umfasst sie auch ökonomische und soziale Aspekte. Zu ihren Zielen gehören beispielsweise eine tolerante und lebenswerte Gesellschaft sowie eine verantwortungsvolle Finanzpolitik, die künftige Generationen nicht mit einem Schuldenberg belastet. So vielfältig wie das Thema sind auch die Möglichkeiten, sich zu engagieren: Sie reichen vom verantwortungsvollen Umgang mit natürlichen Ressourcen über klimafreundliche Mobilität bis hin zu nachhaltiger und fairer Ernährung und verantwortungsbewusstem Konsum.<br>
                <br>
                    Eine Nachhaltige Entwicklung verlangt das Engagement und die Einbindung aller gesellschaftlichen Akteure. Im Jahr 2015 wurden von der Generalversammlung der Vereinten Nationen auf ihrem Weltgipfel 17 Ziele für nachhaltige Entwicklung, die sogenannten Sustainable Development Goals, verabschiedet, die bis heute die Programmatik nachhaltiger Entwicklung prägen. Hierunter finden sich auch fundamentale Ansätze, Bildung mit dem Thema der Nachhaltigkeit zu verflechten und weltweit zu implementieren.<br>
                    <br>
                    Bildung für nachhaltige Entwicklung (BNE) basiert auf dem Konzept der Nachhaltigkeit. Angesichts der zentralen Herausforderungen, zu denen vor allem die Sicherung der Umwelt als menschliche Lebensgrundlage und die Bekämpfung weltweiter Armut gehören, wird deutlich, dass bestehende Wechselbeziehungen zwischen Mensch und Umwelt sowie zwischen Entwicklungs- und Industrieländern überdacht und neu gestaltet werden müssen.<br>
                    <br>
                    Der bereits spürbar stattfindende Klimawandel macht heute schon klar: Die Menschen müssen sich deutlich und schnell umorientieren. Das gelingt nur, wenn alle Mitglieder der Gesellschaft einbezogen sind, ihren Teil dazu beitragen und wenn viele Menschen gemeinsam im Sinne einer nachhaltigen Entwicklung handeln. Dazu braucht es einen Perspektivwechsel und eine Neuorientierung, die mit einem Bewusstseinswandel der Individuen einhergeht, der letztendlich nur über Bildung und Lernen erwirkt werden kann.<br>
                    <br>
                    Ziel einer nachhaltigen Bildung ist unter anderem die Stärkung von Gestaltungskompetenz. Unter Gestaltungskompetenz versteht man das „nach vorne weisende Vermögen, die Zukunft von Sozietäten, in denen man lebt, in aktiver Teilhabe im Sinne nachhaltiger Entwicklung modifizieren und modellieren zu können“ (de Haan/ Harenberg 1999, S. 62). Bildung für nachhaltige Entwicklung möchte die Menschen mit geeigneten Inhalten und Methoden dazu befähigen, Zukunftschancen zu erkennen und gemeinsam mit anderen aktiv und verantwortungsvoll zu nutzen. Geeignete Inhalte sind von längerfristiger Bedeutung, ermöglichen Engagement und Partizipation an Gestaltungsprozessen, befördern differenziertes Wissen mit unterschiedlichen Herangehensweisen und stellen Bezüge zwischen der lokalen Verankerung, der eigenen Lebenswirklichkeit und der globalen Problemlage her.</p>
        </div>
        <button type="button" class="show-more-desc">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
    </section>
    <section class="what">
        <h2 class="section-name">BNE - Was ist das?</h2>
        <div class="dedsc-hide">
            <p class="network-text">Das Konzept der Nachhaltigkeit wurde in der „Agenda 21“, die 1992 auf der UNO-Konferenz von Rio de Janeiro verabschiedet, zunächst auf die dauerhaft umweltgerechte Entwicklung bezogen, wobei die Ökologie als „Brücke“ zwischen Naturhaushalt, ökonomischer Beständigkeit und sozialer Gerechtigkeit (auch unter Nationen) anzusehen ist.<br>
                    Bildung und Erziehung gelten dabei als zentrale Faktoren für diese nachhaltige Entwicklung. Diese zentrale Bedeutung wurde 2002 auf der UNO-Konferenz von Johannesburg nochmals bekräftigt. Hier wurden auch die Jahre 2005 – 2014 als weltweite UN-Dekade „Bildung für eine nachhaltige Entwicklung“ ausgerufen.<br>
                    <br>
                    "Bildung für nachhaltige Entwicklung" ist ein Querschnittskonzept, keine Ergänzung beziehungsweise kein Teilbereich bestehender Lehrpläne.  Sie zielt auf eine Neuorientierung aller Bildungsbereiche, um im gesamten Bildungswesen das Ziel einer nachhaltigen Entwicklung zu verankern. Als nachhaltig gilt eine Entwicklung, die sowohl ökonomisch und ökologisch als auch sozial dauerhaft tragbar ist, anders ausgedrückt: die zukunftsfähig ist.<br>
                    Bildung für nachhaltige Entwicklung vermittelt Kindern, Jugendlichen und Erwachsenen nachhaltiges Denken und Handeln. Sie versetzt Menschen in die Lage, Entscheidungen für die Zukunft zu treffen und dabei abzuschätzen, wie sich das eigene Handeln auf künftige Generationen oder das Leben in anderen Weltregionen auswirkt.“ (vgl. www.bne-portal.de)<br>
                    <br>
                    Bildung trägt dazu bei, dass sich Lernende der Bedeutung und Wichtigkeit einer Nachhaltigen Entwicklung bewusst werden und ihre Mitverantwortung zur Sicherung der natürlichen Lebensgrundlagen und zur Wahrung der Menschenrechte erkennen.<br>
                    BNE hilft den Lernenden, sich ihrer Gefühle, Erfahrungen und ihrer Vorstellungen bewusst zu werden, den eigenen Platz in der Welt kritisch zu reflektieren und darüber nachzudenken, was Nachhaltige Entwicklung für sie persönlich und die Gesellschaft bedeutet. Die Bildung gibt den Lernenden das Rüstzeug, Verantwortung für gegenwärtige und zukünftige Generationen zu übernehmen und sich aktiv an gesellschaftlichen Aushandlungs- und Gestaltungsprozessen im Sinne einer Nachhaltigen Entwicklung zu beteiligen. Die Lernenden erwerben die Fähigkeit, sich in komplexen Zusammenhängen zu orientieren und divergente Interessenlagen auszumachen und konstruktiv anzugehen. Sie sind motiviert, innovative Lösungsansätze zu suchen, Handlungsspielräume zu identifizieren und aktiv zu werden. BNE eröffnet den Lernenden ein Übungsfeld, das ihnen erlaubt, unterschiedliche Positionen wahrzunehmen und gemeinsame Visionen zu entwickeln, welche kollektive Akteure, wie das politische System, mit einbeziehen. Indem Wertvorstellungen, Haltungen sowie Prinzipien und Dimensionen der Nachhaltigen Entwicklung zur Diskussion stehen, werden die Lernenden fähig, Wechselwirkungen zwischen ihren Entscheidungen und deren Folgen zu erkennen; sie lernen erworbenes Wissen und ihr Alltagsleben zueinander in Beziehung zu setzen und Schlüsse daraus zu ziehen. Für die Organisation von Bildungsangeboten gelten die Teilkompetenzen dieses Konzepts als grundlegende Zielperspektive der Bildung für nachhaltige Entwicklung. Sie machen ein Erkennen und Analysieren von nicht nachhaltigen Prozessen möglich und vermitteln gleichzeitig ein Wissen, nachhaltige Entwicklungen anwenden zu können. Die Gestaltungskompetenzen gliedern sich in 12 Teilkompetenzen, die miteinander in einer engen Beziehung stehen und sich einander bedingen und ergänzen. Diese Teilkompetenzen werden wie folgt unterschieden (nach de Haan et al. 2008):</p>
        </div>
        <button type="button" class="show-more-desc">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
    </section>
    <section class="als">
        <h2 class="section-name">BNE Als Schulischer Schwerpunkt</h2>
        <div class="als-text-block hide-block">
            <p class="network-text">Schule sollte realitätsnah gestaltet werden, das Lernen sollte Spaß machen. Indem Unterricht möglichst lebensnah gestaltet wird, eröffnet er Schülerinnen und Schülern Anknüpfungspunkte an ihre Alltagssituationen.<br>
                <br>
                Schule ist immer nicht nur Lern- sondern auch Lebensort. Wenn Schule sich nach außen öffnet und entsprechende Lernorte einbezieht, stellt sie die für Schülerinnen und Schülern zentrale Verknüpfung mit der Realität her.<br>
                <br>
                Für die tägliche Gestaltung des Unterrichts bedeutet die Implementierung von BNE-Aspekten keine Erweiterung des Themenspektrums, sondern eine Neuorientierung mit stärkerem Realitätsbezug. Fächerübergreifend und mit zunehmend selbstorganisierten Lernformen kann der, am Leitbild der nachhaltigen Entwicklung orientierte Unterricht, gestaltet werden.</p>
        </div>
        <button type="button" class="show-more-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
    </section>
    <section class="learn">
        <img class="learn-img-1" src="assets/img/svg/learn-1.svg" alt="">
        <img class="learn-img-2" src="assets/img/svg/learn-2.svg" alt="">
        <h2 class="section-name">Lernen in der Praxis</h2>
        <p class="network-text">Nachhaltiges Lernen, forschendes Lernen, kooperative Unterrichtsformen sowie ziel- und zeitdifferente Lernformen ermöglichen Schülerinnen und Schülern individuelle Zugänge zu den Herausforderungen nachhaltiger Entwicklung (vgl.:  Quelle „Leitlinie BNE“).<br>
            <br>
                BNE- Lernprozesse beruhen auf systemischem Denken und zielen darauf ab, sowohl fachliches als auch überfachlich vernetztes Wissen zu erwerben, um kreative Fragestellungen und Lösungsansätze für eine nachhaltige Entwicklung zu entwickeln und anzuwenden.</p>
    </section>
    <section class="und">
        <h2 class="section-name">BNE und Schülerfirmen</h2>
        <p class="network-text">Ein besonderer Fokus der Bildung für Nachhaltigkeit liegt insbesondere daran, Jugendlichen erweiterte Möglichkeiten zur Partizipation zu bieten, damit sie praktische Erfahrungen machen können, die sie dazu befähigt, den Unterricht, das Schulleben, Aktivitäten im Umfeld der Schule eigenverantwortlich und selbstorganisiert mitzugestalten. Eine solche Kultur in der Schule kann Unterricht- und fächerübergreifende Projekte unterstützen und Schülerinnen und Schülern zur Verwirklichung in einer AG und vor allem in einer Schülerfirma ermutigen.  Die Integration von außerschulischen Lernorten bietet den Schülerinnen und Schülern vielfältigen Kontakt mit ihrer Lebenswelt und vermittelt weitere Merkmale von BNE im Kontext der eigenen Lebenswelt.</p>
    </section>
    <section class="logos">
        <div class="logos-row">
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-1.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-2.svg" alt="">
            </div>
            <div class="logos-item mod-full">
            <img class="logos-img" src="assets/img/svg/logos-3.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-4.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-5.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-6.svg" alt="">
            </div>
        </div>
    </section>
  </div> 
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
