<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin nav -->
  <include src="../chunks/nav.html"></include>
  <!-- End nav -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="main-map-section">
        <div class="main-map-block" id="main-map"></div>
        <img class="map-img" src="assets/img/svg/map-img.svg" alt="">
        <div class="map-modal" id="0">
            <button type="button" class="map-modal-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g><g><path d="M.445 2.629L2.628.446l10.594 10.627L23.848.446l2.151 2.183-10.595 10.594L25.999 23.85l-2.151 2.15-10.626-10.594L2.628 26 .445 23.849l10.627-10.626z"/></g></g></svg>
            </button>
            <div class="map-modal-photo-row">
                <img class="map-modal-img" src="assets/img/map-1.jpg" alt="">
                <img class="map-modal-img" src="assets/img/map-2.jpg" alt="">
            </div>
            <div class="map-modal-text-block">
                <h3 class="map-modal-name">Nachhaltiger Aspekt</h3>
                <p class="map-modal-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                <h3 class="map-modal-name">Unser Plan</h3>
                <p class="map-modal-text">Partnerschaften zwischen Schulen und Unternehmen haben sich in der Vergangenheit als erfolgreiche Instrumente erwiesen, Jugendliche auf ihrem Weg in eine Ausbildung oder ein Studium zu unterstützen. Zahlreiche Unternehmen, darunter auch kleine und mittlere, haben sich mit Schulen vernetzt. Beide Seiten profitieren voneinander und von entstehenden Synergieeffekten.</p>
                <div></div>
            </div>
        </div>
        <div class="map-modal" id="1">
            <button type="button" class="map-modal-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g><g><path d="M.445 2.629L2.628.446l10.594 10.627L23.848.446l2.151 2.183-10.595 10.594L25.999 23.85l-2.151 2.15-10.626-10.594L2.628 26 .445 23.849l10.627-10.626z"/></g></g></svg>
            </button>
            <div class="map-modal-photo-row">
                <img class="map-modal-img" src="assets/img/map-1.jpg" alt="">
                <img class="map-modal-img" src="assets/img/map-2.jpg" alt="">
            </div>
            <div class="map-modal-text-block">
                <h3 class="map-modal-name">Nachhaltiger Aspekt</h3>
                <p class="map-modal-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                <h3 class="map-modal-name">Unser Plan</h3>
                <p class="map-modal-text">Partnerschaften zwischen Schulen und Unternehmen haben sich in der Vergangenheit als erfolgreiche Instrumente erwiesen, Jugendliche auf ihrem Weg in eine Ausbildung oder ein Studium zu unterstützen. Zahlreiche Unternehmen, darunter auch kleine und mittlere, haben sich mit Schulen vernetzt. Beide Seiten profitieren voneinander und von entstehenden Synergieeffekten.</p>
                <div></div>
            </div>
        </div>
        <div class="map-modal" id="2">
            <button type="button" class="map-modal-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g><g><path d="M.445 2.629L2.628.446l10.594 10.627L23.848.446l2.151 2.183-10.595 10.594L25.999 23.85l-2.151 2.15-10.626-10.594L2.628 26 .445 23.849l10.627-10.626z"/></g></g></svg>
            </button>
            <div class="map-modal-photo-row">
                <img class="map-modal-img" src="assets/img/map-1.jpg" alt="">
                <img class="map-modal-img" src="assets/img/map-2.jpg" alt="">
            </div>
            <div class="map-modal-text-block">
                <h3 class="map-modal-name">Nachhaltiger Aspekt</h3>
                <p class="map-modal-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                <h3 class="map-modal-name">Unser Plan</h3>
                <p class="map-modal-text">Partnerschaften zwischen Schulen und Unternehmen haben sich in der Vergangenheit als erfolgreiche Instrumente erwiesen, Jugendliche auf ihrem Weg in eine Ausbildung oder ein Studium zu unterstützen. Zahlreiche Unternehmen, darunter auch kleine und mittlere, haben sich mit Schulen vernetzt. Beide Seiten profitieren voneinander und von entstehenden Synergieeffekten.</p>
                <div></div>
            </div>
        </div>
    </section>
    <section class="logos">
        <div class="logos-row">
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-1.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-2.svg" alt="">
            </div>
            <div class="logos-item mod-full">
            <img class="logos-img" src="assets/img/svg/logos-3.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-4.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-5.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-6.svg" alt="">
            </div>
        </div>
    </section>
  </div> 
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>