<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin nav -->
  <include src="../chunks/nav.html"></include>
  <!-- End nav -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="main-network">
        <h2 class="section-name">Netzwerk</h2>
        <p class="network-text">Das Netzwerk Nachhaltige Schülerfirmen im Bergischen Land (naschbela) bündelt fachübergreifend und praxisorientiert Know-how und Erfahrungen zu nachhaltigen Schülerfirmen und dient der gegenseitigen Information und Vernetzung unterschiedlichster Akteure.</p>
        <div class="network-btn-row hide-block">
            <a href="#" class="network-link">Das Projekt</a>
            <a href="#" class="network-link">Mitglied werden</a>
            <a href="#" class="network-link">Mitglieder des Netzwerkes</a>
        </div>
        <button type="button" class="show-more-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
    </section>
    <section class="uber">
        <h2 class="section-name">Über uns</h2>
        <p class="network-sub">Schon früh mit der eigenen schülerfirma etwas bewegen </p>
        <p class="network-text">Entrepreneurship ist nicht allein die Fähigkeit, ein Unternehmen zu gründen. Diese Schlüsselkompetenz schließt die persönliche Entwicklung, die Ausprägung von life skills ebenso ein wie Fähigkeiten, die heute im Arbeitsleben generell gebraucht werden. Das sind vor allem konstruktiver Umgang mit Innovationen und Veränderungen, Problemlösungskompetenz und Initiative.<br>
            <br>
            Ein Schwerpunkt der Arbeit des Netzwerkes ist dabei die frühzeitige wirtschaftliche Bildung und Berufsorientierung von Schülerinnen und Schülern. Die Arbeit in Schülerfirmen greift aus Sicht der Netzwerkpartner diese Zielstellungen optimal auf, indem dort die Ausbildung von Schlüsselkompetenzen wie Eigeninitiative, Selbstständigkeit und unternehmerisches Denken gefördert wird.</p>
    </section>
    <section class="project">
        <h2 class="section-name">Das Projekt</h2>
        <p class="network-sub">Schon früh mit der eigenen schülerfirma etwas bewegen</p>
        <div class="project-text-row hide-block">
            <p class="network-text">Die Gründung von Schülerfirmen ist schon seit geraumer Zeit sehr populär. Die mit den Schülerfirmen verbundenen Zielsetzungen sind vielfältig und reichen von der besseren Vorbereitung der Schülerinnen und Schüler auf Ausbildung und Beruf über Vermittlung spezifischer Qualifikationen bis hin zur Erprobung neuer Unterrichtskonzepte. Sie erschließen die wertvolle Chance, Eigeninitiative, Selbstständigkeit, unternehmerisches Wissen und Können zu entfalten.<br>
                <br>
                    Naschbela.de versteht sich als aktiver und effektiver Beitrag der weltweiten Transformation zu einer klimaverträglichen Gesellschaft. Dazu gehört, dass eine konkrete Handlungsänderung bei einzelnen Akteuren und Konsumenten erreicht wird – hier konkret bei Jugendlichen und Lehrkräften im schulischen Engagement, aber auch in ihrer Rolle als privater Konsument. Die Jugendlichen in den Schülerfirmen bekommen reale und nachhaltige Handlungsanreize mit direkten Auswirkungen auf das Wirtschaften in der Schule und darüber hinaus.</p>
            <p class="network-text">Die Schülerinnen und Schüler übernehmen selbst Verantwortung und bestimmen als aktiv Handelnde mit Entscheidungen und Aktionen die Zielsetzungen der nachhaltigen Schülerfirmen und setzen diese um. So werden sie gleichzeitig Träger und Modell für die Motivation und das Engagement aller Beteiligten in der Schule. Die Zahlen des wirtschaftlichen Handelns sind eigenwirksame Erfolgsindikatoren. Zusätzlich geben sich die Schülerfirmen selbst-entwickelte oder ausgewählte Controlling-Verfahren und diskutieren solidarisch über ihr Tun (Selbstevaluation). Darüber hinaus haben besonders die Schülergenossenschaften unterstützende und sichernde Strukturen verbindlich verabredet (u.a. Satzung mit Geschäftszwecken, Mitgliederversammlung, Aufsichtsrat, Jahresprüfung).</p>
        </div>
        <button type="button" class="show-more-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
    </section>
    <section class="der">
        <h2 class="section-name">Mitglieder</h2>
        <div class="js-der-slider der-slider">
            <div class="der-slider-item">
                <div class="der-slider-row">
                    <img class="der-slider-img" src="assets/img/der-1.jpg" alt="">
                    <div class="der-slider-text-block">
                        <h3 class="der-slider-name">als langjähriger Partner unterstützen wir die schülerfirmen mit Schulungen zum Thema Konstruktion</h3>
                        <p class="der-slider-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                        <div class="der-slider-logo-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="246" height="87" viewBox="0 0 246 87"><g><g><g><g><g><path fill="#b8c9c6" d="M215.732 71.625c0-8.355 6.78-15.133 15.135-15.133 8.353 0 15.133 6.778 15.133 15.133 0 8.361-6.78 15.132-15.133 15.132-8.354 0-15.135-6.77-15.135-15.132z"/></g><g><path fill="#b8c9c6" d="M.51 85.75V0h230.358v48.76c-12.63 0-22.867 10.237-22.867 22.865 0 5.342 2.015 10.198 5.351 14.08l-212.84.046z"/></g></g><g><path fill="#fff" d="M27.942 71.677h13.464l4.827-23.67c1.69-8.471 2.883-16.61 2.883-16.61.082.5.76 7.81 2.788 16.777l5.257 23.503H70.12l14.226-58.21h-12.45L67.07 35.384c-1.016 4.82-3.052 17.355-3.222 19.185 0 0-1.436-9.884-2.536-15.28l-5.425-25.824H42.928L37.678 36.8c-1.782 7.972-2.797 16.194-3.05 18.431 0 0-.678-8.215-3.137-19.015l-5.079-22.749H13.876z"/></g><g><path fill="#fff" d="M110.233 11.721c-12.451 0-21.092 7.31-21.092 17.854 0 3.235.846 6.226 2.46 8.802 2.113 3.488 5.758 5.732 11.6 7.307l6.524 1.745c5.248 1.33 7.708 3.736 7.708 7.47 0 5.15-3.558 7.894-10.337 7.894-5.926 0-10.667-1.828-16.17-4.659l-4.412 9.055c5.932 3.32 13.388 5.235 20.074 5.235 14.658 0 24.311-7.725 24.311-19.431 0-8.553-5.25-14.616-14.904-17.192l-7.115-1.906c-4.913-1.329-6.525-2.828-6.525-5.819 0-3.895 3.387-6.64 8.215-6.64 4.403 0 8.386 1.246 13.726 4.405l5.588-8.31c-5.166-3.649-12.45-5.81-19.651-5.81z"/></g><g><path fill="#fff" d="M149.136 71.677h13.472l4.829-23.67c1.69-8.471 2.873-16.61 2.873-16.61.085.5.769 7.81 2.797 16.777l5.25 23.503h12.966l14.226-58.21H193.1l-4.826 21.918c-1.016 4.82-3.052 17.355-3.223 19.185 0 0-1.435-9.884-2.542-15.28l-5.418-25.824H164.13l-5.25 23.333c-1.782 7.972-2.797 16.194-3.05 18.431 0 0-.678-8.215-3.135-19.015l-5.08-22.749H135.08z"/></g></g></g></g></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="der-slider-item">
                <div class="der-slider-row">
                    <img class="der-slider-img" src="assets/img/der-1.jpg" alt="">
                    <div class="der-slider-text-block">
                        <h3 class="der-slider-name">als langjähriger Partner unterstützen wir die schülerfirmen mit Schulungen zum Thema Konstruktion</h3>
                        <p class="der-slider-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                        <div class="der-slider-logo-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="246" height="87" viewBox="0 0 246 87"><g><g><g><g><g><path fill="#b8c9c6" d="M215.732 71.625c0-8.355 6.78-15.133 15.135-15.133 8.353 0 15.133 6.778 15.133 15.133 0 8.361-6.78 15.132-15.133 15.132-8.354 0-15.135-6.77-15.135-15.132z"/></g><g><path fill="#b8c9c6" d="M.51 85.75V0h230.358v48.76c-12.63 0-22.867 10.237-22.867 22.865 0 5.342 2.015 10.198 5.351 14.08l-212.84.046z"/></g></g><g><path fill="#fff" d="M27.942 71.677h13.464l4.827-23.67c1.69-8.471 2.883-16.61 2.883-16.61.082.5.76 7.81 2.788 16.777l5.257 23.503H70.12l14.226-58.21h-12.45L67.07 35.384c-1.016 4.82-3.052 17.355-3.222 19.185 0 0-1.436-9.884-2.536-15.28l-5.425-25.824H42.928L37.678 36.8c-1.782 7.972-2.797 16.194-3.05 18.431 0 0-.678-8.215-3.137-19.015l-5.079-22.749H13.876z"/></g><g><path fill="#fff" d="M110.233 11.721c-12.451 0-21.092 7.31-21.092 17.854 0 3.235.846 6.226 2.46 8.802 2.113 3.488 5.758 5.732 11.6 7.307l6.524 1.745c5.248 1.33 7.708 3.736 7.708 7.47 0 5.15-3.558 7.894-10.337 7.894-5.926 0-10.667-1.828-16.17-4.659l-4.412 9.055c5.932 3.32 13.388 5.235 20.074 5.235 14.658 0 24.311-7.725 24.311-19.431 0-8.553-5.25-14.616-14.904-17.192l-7.115-1.906c-4.913-1.329-6.525-2.828-6.525-5.819 0-3.895 3.387-6.64 8.215-6.64 4.403 0 8.386 1.246 13.726 4.405l5.588-8.31c-5.166-3.649-12.45-5.81-19.651-5.81z"/></g><g><path fill="#fff" d="M149.136 71.677h13.472l4.829-23.67c1.69-8.471 2.873-16.61 2.873-16.61.085.5.769 7.81 2.797 16.777l5.25 23.503h12.966l14.226-58.21H193.1l-4.826 21.918c-1.016 4.82-3.052 17.355-3.223 19.185 0 0-1.435-9.884-2.542-15.28l-5.418-25.824H164.13l-5.25 23.333c-1.782 7.972-2.797 16.194-3.05 18.431 0 0-.678-8.215-3.135-19.015l-5.08-22.749H135.08z"/></g></g></g></g></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="der-slider-item">
                <div class="der-slider-row">
                    <img class="der-slider-img" src="assets/img/der-1.jpg" alt="">
                    <div class="der-slider-text-block">
                        <h3 class="der-slider-name">als langjähriger Partner unterstützen wir die schülerfirmen mit Schulungen zum Thema Konstruktion</h3>
                        <p class="der-slider-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                        <div class="der-slider-logo-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="246" height="87" viewBox="0 0 246 87"><g><g><g><g><g><path fill="#b8c9c6" d="M215.732 71.625c0-8.355 6.78-15.133 15.135-15.133 8.353 0 15.133 6.778 15.133 15.133 0 8.361-6.78 15.132-15.133 15.132-8.354 0-15.135-6.77-15.135-15.132z"/></g><g><path fill="#b8c9c6" d="M.51 85.75V0h230.358v48.76c-12.63 0-22.867 10.237-22.867 22.865 0 5.342 2.015 10.198 5.351 14.08l-212.84.046z"/></g></g><g><path fill="#fff" d="M27.942 71.677h13.464l4.827-23.67c1.69-8.471 2.883-16.61 2.883-16.61.082.5.76 7.81 2.788 16.777l5.257 23.503H70.12l14.226-58.21h-12.45L67.07 35.384c-1.016 4.82-3.052 17.355-3.222 19.185 0 0-1.436-9.884-2.536-15.28l-5.425-25.824H42.928L37.678 36.8c-1.782 7.972-2.797 16.194-3.05 18.431 0 0-.678-8.215-3.137-19.015l-5.079-22.749H13.876z"/></g><g><path fill="#fff" d="M110.233 11.721c-12.451 0-21.092 7.31-21.092 17.854 0 3.235.846 6.226 2.46 8.802 2.113 3.488 5.758 5.732 11.6 7.307l6.524 1.745c5.248 1.33 7.708 3.736 7.708 7.47 0 5.15-3.558 7.894-10.337 7.894-5.926 0-10.667-1.828-16.17-4.659l-4.412 9.055c5.932 3.32 13.388 5.235 20.074 5.235 14.658 0 24.311-7.725 24.311-19.431 0-8.553-5.25-14.616-14.904-17.192l-7.115-1.906c-4.913-1.329-6.525-2.828-6.525-5.819 0-3.895 3.387-6.64 8.215-6.64 4.403 0 8.386 1.246 13.726 4.405l5.588-8.31c-5.166-3.649-12.45-5.81-19.651-5.81z"/></g><g><path fill="#fff" d="M149.136 71.677h13.472l4.829-23.67c1.69-8.471 2.873-16.61 2.873-16.61.085.5.769 7.81 2.797 16.777l5.25 23.503h12.966l14.226-58.21H193.1l-4.826 21.918c-1.016 4.82-3.052 17.355-3.223 19.185 0 0-1.435-9.884-2.542-15.28l-5.418-25.824H164.13l-5.25 23.333c-1.782 7.972-2.797 16.194-3.05 18.431 0 0-.678-8.215-3.135-19.015l-5.08-22.749H135.08z"/></g></g></g></g></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="der-logos-row">
            <img class="der-logos" src="assets/img/svg/der-logo-1.svg" alt="">
            <img class="der-logos" src="assets/img/svg/der-logo-2.svg" alt="">
            <img class="der-logos" src="assets/img/svg/der-logo-3.svg" alt="">
            <img class="der-logos" src="assets/img/svg/der-logo-4.svg" alt="">
            <img class="der-logos" src="assets/img/svg/der-logo-5.svg" alt="">
            <img class="der-logos" src="assets/img/svg/der-logo-6.svg" alt="">
        </div>
    </section>
    <section class="network-contact">
        <form action="#" class="network-form">
            <h2 class="section-name">MITGLIED <span>WERDEN</span></h2>
            <label class="input-label">
                <span class="input-label-text">Name, Vorname</span>
                <input type="text" class="input">
            </label>
            <label class="input-label">
                <span class="input-label-text">E-Mail-Adresse</span>
                <input type="text" class="input">
            </label>
            <label class="input-label">
                <span class="input-label-text">Schule</span>
                <input type="text" class="input">
            </label>
            <label class="input-label">
                <span class="input-label-text">Zuständige Lehrkraft</span>
                <input type="text" class="input">
            </label>
            <button type="submit" class="network-sbm">Absenden</button>
        </form>
        <div class="network-contact-right">
            <img class="network-contact-img" src="assets/img/svg/network-contact-img.svg" alt="">
        </div>
    </section>
    <section class="logos">
        <div class="logos-row">
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-1.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-2.svg" alt="">
            </div>
            <div class="logos-item mod-full">
            <img class="logos-img" src="assets/img/svg/logos-3.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-4.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-5.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-6.svg" alt="">
            </div>
        </div>
    </section>
  </div> 
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
