<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin nav -->
  <include src="../chunks/nav.html"></include>
  <!-- End nav -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="main-sertificate">
        <h2 class="section-name">Zertifikate</h2>
        <div class="main-sertificate-text-block hide-block">
            <p class="network-text">Das „Young Sustainable Entrepreneur Certificate“ (YSEC) ist ein Weiterbildungsangebot für Schülerinnen und Schüler im Bergischen Land. Das Zertifikat soll seinen Teilnehmerinnen und Teilnehmern während der Schulzeit ermöglichen, umfassende praktische und theoretische Erfahrungen bei der Planung, der Gründung und dem Betrieb nachhaltiger Schülerfirmen zu sammeln.<br>
                <br>
                Das Zertifikat soll außerdem für die erfolgreich teilnehmenden Schülerinnen und Schüler als Modul im Optionalbereich des Kombinatorischen Bachelor-Studiengangs der Bergischen Universität Wuppertal mit einem Umfang von 6 Leistungspunkten anrechenbar sein, sofern sie sich nach ihrer Schulzeit für die Aufnahme dieses Studiengangs entscheiden. Träger des Angebotes ist KURS 21 e.V. Das Zertifikat befindet sich derzeit in seiner Entwicklungsphase.</p>
        </div>
        <button type="button" class="show-more-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
        <div class="network-btn-row">
            <a href="#" class="network-link">Module</a>
            <a href="#" class="network-link">zertifikatsordnung</a>
        </div>
    </section>
    <section class="sertificate-section">
        <h2 class="section-name">Das Zertifikat umfasst insgesamt drei Module, die jeweils unterschiedliche (Wahl-) Bestandteile beinhalten:</h2>
        <h3 class="sertificate-list-name"><span>I</span>. Praxis</h3>
        <div class="sertificate-list-row">
            <div class="sertificate-list-icon-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="157" height="198" viewBox="0 0 157 198"><g><g><g><g><text dominant-baseline="text-before-edge" style="font-kerning:normal" fill="#fff" font-family="'Sofia Pro','SofiaPro-Bold'" font-size="17" font-style="none" font-weight="700" letter-spacing="-.13" transform="translate(45 26)"><tspan style="text-transform:uppercase">I. Praxis</tspan></text></g></g><g><g><g/><g/><g><path fill="#fff" d="M151.39 188.095a4.753 4.753 0 0 1-4.748 4.748h-99.32V160.48c0-6.136-4.99-11.13-11.123-11.13H5.264V10.012a4.753 4.753 0 0 1 4.748-4.748h136.632a4.753 4.753 0 0 1 4.748 4.748v178.083zm-108.33 1.61L8.159 153.612h28.041c3.783 0 6.862 3.081 6.862 6.868zM10.013 1C5.044 1 1 5.042 1 10.012V151.48c0 .091.041.17.052.26.022.182.04.363.11.537.069.173.182.312.293.458.055.074.081.16.146.227l42.059 43.496c.004.005.01.005.015.009a2.109 2.109 0 0 0 1.517.64h101.452c4.968 0 9.013-4.041 9.013-9.012V10.012C155.654 5.042 151.612 1 146.642 1z"/><path fill="none" stroke="#799993" stroke-miterlimit="50" stroke-width=".1" d="M151.39 188.095a4.753 4.753 0 0 1-4.748 4.748h-99.32V160.48c0-6.136-4.99-11.13-11.123-11.13H5.264V10.012a4.753 4.753 0 0 1 4.748-4.748h136.632a4.753 4.753 0 0 1 4.748 4.748v178.083zm-108.33 1.61L8.159 153.612h28.041c3.783 0 6.862 3.081 6.862 6.868zM10.013 1C5.044 1 1 5.042 1 10.012V151.48c0 .091.041.17.052.26.022.182.04.363.11.537.069.173.182.312.293.458.055.074.081.16.146.227l42.059 43.496c.004.005.01.005.015.009a2.109 2.109 0 0 0 1.517.64h101.452c4.968 0 9.013-4.041 9.013-9.012V10.012C155.654 5.042 151.612 1 146.642 1z"/></g></g></g><g><g><g><path fill="#fff" d="M126.143 122.39v-3.6c0-1.027-.686-1.713-1.714-1.713s-1.714.686-1.714 1.714v3.6h-15.939v-3.6c0-1.028-.686-1.714-1.714-1.714s-1.714.686-1.714 1.714v3.6h-.857c-.171-3.943-1.542-7.542-3.942-10.284 1.2-4.285 4.456-7.713 8.57-9.427a10.928 10.928 0 0 0 2.4 1.371v9.941c0 .343.17.686.342 1.028l3.6 4.628c.342.343.856.685 1.37.685.514 0 1.029-.171 1.371-.685l3.6-4.628c.171-.342.342-.685.342-1.028V103.88a10.927 10.927 0 0 0 2.4-1.371c5.656 2.228 9.255 7.712 9.255 13.711v6.17zm-32.735 7.198v-3.599c0-1.028-.686-1.714-1.714-1.714-1.029 0-1.714.686-1.714 1.714v3.6H74.04v-3.6c0-1.028-.685-1.714-1.713-1.714-1.029 0-1.714.686-1.714 1.714v3.6h-5.485v-6.17c0-6 3.77-11.312 9.255-13.54a10.927 10.927 0 0 0 2.4 1.37v9.941c0 .343.171.686.343 1.029l3.599 4.627c.343.343.857.686 1.37.686.515 0 1.03-.172 1.372-.686l3.6-4.627c.17-.343.342-.686.342-1.029v-9.94c.857-.343 1.542-.857 2.4-1.371 5.655 2.228 9.254 7.54 9.254 13.54v6.17zm-34.45-12.34c-1.028 0-1.714.686-1.714 1.714v3.428h-16.11v-3.428c0-1.028-.686-1.714-1.714-1.714-1.029 0-1.714.686-1.714 1.714v3.428H32.22v-6.17c0-5.999 3.6-11.312 9.255-13.54a10.928 10.928 0 0 0 2.4 1.371v9.941c0 .343.171.686.343 1.028l3.599 4.628c.343.343.857.685 1.371.685s1.028-.171 1.371-.685l3.6-4.628c.17-.342.342-.685.342-1.028V103.88a10.927 10.927 0 0 0 2.4-1.371c4.284 1.714 7.37 5.313 8.569 9.598a17.383 17.383 0 0 0-3.942 10.283h-1.028v-3.428c.171-.857-.686-1.714-1.543-1.714zm-11.654-12.511c.685.171 1.2.171 1.885.171.686 0 1.371 0 1.885-.171v8.398l-1.885 2.57-1.885-2.57zm1.885-23.138c5.485 0 10.112 4.456 10.112 9.94 0 5.485-4.456 9.941-10.112 9.941s-10.112-4.456-10.112-9.94c0-5.485 4.628-9.94 10.112-9.94zm30.85 30.336c.686.172 1.2.172 1.885.172.686 0 1.372 0 1.886-.172v8.398l-1.886 2.4-1.885-2.571zm1.885-23.137c5.485 0 10.112 4.456 10.112 9.94 0 5.485-4.456 9.94-10.112 9.94-5.484 0-10.112-4.455-10.112-9.94 0-5.484 4.628-9.94 10.112-9.94zm30.85 15.939c.686.171 1.2.171 1.886.171.685 0 1.371 0 1.885-.171v8.398l-1.885 2.57-1.885-2.57zm1.886-23.138c5.484 0 10.112 4.456 10.112 9.94 0 5.485-4.456 9.941-10.112 9.941s-10.112-4.456-10.112-9.94c0-5.485 4.627-9.94 10.112-9.94zm10.455 18.339C127 97.71 128.2 94.625 128.2 91.54c0-7.37-5.999-13.369-13.54-13.369-7.541 0-13.54 6-13.54 13.369 0 3.256 1.2 6.17 3.085 8.398-3.942 2.057-6.855 5.313-8.57 9.255-1.028-.857-2.056-1.542-3.256-2.057 1.886-2.228 3.085-5.313 3.085-8.398 0-7.37-5.998-13.368-13.54-13.368-7.54 0-13.54 5.998-13.54 13.368 0 3.257 1.2 6.17 3.086 8.398-1.2.686-2.228 1.371-3.257 2.057-1.714-4.113-4.627-7.37-8.57-9.426 1.886-2.228 3.086-5.313 3.086-8.398 0-7.37-5.999-13.369-13.54-13.369-7.541 0-13.54 6.17-13.54 13.54 0 3.256 1.2 6.17 3.085 8.398-6.17 3.256-9.94 9.255-9.94 16.11v7.885c0 1.028.685 1.713 1.714 1.713h31.021v5.656c0 1.029.686 1.714 1.714 1.714h37.363c1.028 0 1.714-.685 1.714-1.714v-5.484h31.021c1.029 0 1.714-.686 1.714-1.714v-7.884c0-7.027-3.942-13.197-9.94-16.282z"/></g></g></g></g></g></svg>
            </div>
            <div class="sertificate-list-text-block">
                <div class="hide-block">
                    <p class="sertificate-list-text">Schülerinnen und Schüler sollen mit der Planung, der Gründung und dem Betrieb nachhaltiger Schülerfirmen vertraut werden. Unter der formalen Obhut von Lehrkräften sammeln sie erste wichtige unternehmerische Erfahrungen unter Berücksichtigung ökologischer, sozialer und ökonomischer Komponenten im Sinne einer ressourcenschonenden Handlungsorientierung. Je nach Stand der jeweiligen Schülerfirmen wird pro Schuljahr ein Workshop angeboten, bei dem die Schülerinnen und Schüler Impulse zur Findung von Geschäftsideen erhalten bzw. schülerfirmenprojektorientierte betriebswirtschaftliche Instrumente erlernen.</p>
                </div>
                <button type="button" class="show-more-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
                </button>
            </div>
        </div>
        <h3 class="sertificate-list-name"><span>II</span>. Theorie</h3>
        <div class="sertificate-list-row">
            <div class="sertificate-list-icon-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="157" height="198" viewBox="0 0 157 198"><g><g><g><g><text dominant-baseline="text-before-edge" style="font-kerning:normal" fill="#fff" font-family="'Sofia Pro','SofiaPro-Bold'" font-size="17" font-style="none" font-weight="700" letter-spacing="-.13" transform="translate(37 26)"><tspan style="text-transform:uppercase">II. Theori</tspan><tspan>e</tspan></text></g></g><g><g><g/><g/><g><path fill="#fff" d="M151.835 188.095a4.753 4.753 0 0 1-4.748 4.748H47.768V160.48c0-6.136-4.99-11.13-11.124-11.13H5.71V10.012a4.753 4.753 0 0 1 4.748-4.748H147.09a4.753 4.753 0 0 1 4.748 4.748v178.083zm-108.33 1.61L8.604 153.612h28.041c3.783 0 6.862 3.081 6.862 6.868zM10.459 1c-4.969 0-9.013 4.042-9.013 9.012V151.48c0 .091.042.17.053.26.021.182.039.363.109.537.07.173.183.312.294.458.054.074.08.16.146.227l42.058 43.496c.004.005.011.005.015.009a2.109 2.109 0 0 0 1.517.64H147.09c4.968 0 9.012-4.041 9.012-9.012V10.012C156.1 5.042 152.058 1 147.087 1z"/><path fill="none" stroke="#799993" stroke-miterlimit="50" stroke-width=".1" d="M151.835 188.095a4.753 4.753 0 0 1-4.748 4.748H47.768V160.48c0-6.136-4.99-11.13-11.124-11.13H5.71V10.012a4.753 4.753 0 0 1 4.748-4.748H147.09a4.753 4.753 0 0 1 4.748 4.748v178.083zm-108.33 1.61L8.604 153.612h28.041c3.783 0 6.862 3.081 6.862 6.868zM10.459 1c-4.969 0-9.013 4.042-9.013 9.012V151.48c0 .091.042.17.053.26.021.182.039.363.109.537.07.173.183.312.294.458.054.074.08.16.146.227l42.058 43.496c.004.005.011.005.015.009a2.109 2.109 0 0 0 1.517.64H147.09c4.968 0 9.012-4.041 9.012-9.012V10.012C156.1 5.042 152.058 1 147.087 1z"/></g><g><path fill="#fff" d="M126.002 135.473H31.543a2.131 2.131 0 0 0 0 4.262h94.459a2.131 2.131 0 0 0 0-4.262z"/><path fill="none" stroke="#799993" stroke-miterlimit="50" stroke-width=".1" d="M126.002 135.473H31.543a2.131 2.131 0 0 0 0 4.262h94.459a2.131 2.131 0 0 0 0-4.262z"/></g><g><path fill="#fff" d="M126.002 112.797H31.543a2.131 2.131 0 0 0 0 4.262h94.459a2.131 2.131 0 0 0 0-4.262z"/><path fill="none" stroke="#799993" stroke-miterlimit="50" stroke-width=".1" d="M126.002 112.797H31.543a2.131 2.131 0 0 0 0 4.262h94.459a2.131 2.131 0 0 0 0-4.262z"/></g><g><path fill="#fff" d="M126.002 90.266H31.543a2.131 2.131 0 0 0 0 4.262h94.459a2.131 2.131 0 0 0 0-4.262z"/><path fill="none" stroke="#799993" stroke-miterlimit="50" stroke-width=".1" d="M126.002 90.266H31.543a2.131 2.131 0 0 0 0 4.262h94.459a2.131 2.131 0 0 0 0-4.262z"/></g><g><path fill="#fff" d="M126.002 67.735H31.543a2.131 2.131 0 0 0 0 4.262h94.459a2.131 2.131 0 0 0 0-4.262z"/><path fill="none" stroke="#799993" stroke-miterlimit="50" stroke-width=".1" d="M126.002 67.735H31.543a2.131 2.131 0 0 0 0 4.262h94.459a2.131 2.131 0 0 0 0-4.262z"/></g></g></g></g></g></svg>
            </div>
            <div class="sertificate-list-text-block">
                <div class="hide-block">
                    <p class="sertificate-list-text">Schülerinnen und Schüler erlernen wesentliche betriebswirtschaftliche, ökologische und soziale Elemente zur Gründung nachhaltiger Schülerfirmen. Sie wählen je 2 Angebote aus dem gesamten Themenangebot aus. Der Zertifikatsausschuss sucht und autorisiert regelmäßig Anbieter der Bergischen Universität Wuppertal sowie der Bergischen Schulen und Unternehmen, die auf Grundlage der Zertifikatsordnung Angebote wahlweise zu nachstehenden Themen während eines Schuljahres bereithalten:<br>
                        <br>
                        - Nachhaltige Geschäftsideen und Geschäftsmodelle<br>
                        - Businessplan und Business Model Canvas<br>
                        - Kaufmännische Grundlagen<br>
                        - Ökologie, Ökonomie und Gesellschaft<br>
                        <br>
                        Die Qualität der Angebote wird durch den Zertifikatsausschuss in Zusammenarbeit mit der Bergischen Universität Wuppertal sichergestellt.</p>
                </div>
                <button type="button" class="show-more-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
                </button>
            </div>
        </div>
        <h3 class="sertificate-list-name"><span>III</span>. Methoden</h3>
        <div class="sertificate-list-row">
            <div class="sertificate-list-icon-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="156" height="198" viewBox="0 0 156 198"><g><g><g><g><text dominant-baseline="text-before-edge" style="font-kerning:normal" fill="#fff" font-family="'Sofia Pro','SofiaPro-Bold'" font-size="17" font-style="none" font-weight="700" letter-spacing="-.13" transform="translate(21 26)"><tspan style="text-transform:uppercase">III. MEtho</tspan><tspan>den</tspan></text></g></g><g><g><g/><g/><g><path fill="#fff" d="M150.977 188.095a4.753 4.753 0 0 1-4.748 4.748H46.91V160.48c0-6.136-4.99-11.13-11.123-11.13H4.851V10.012A4.753 4.753 0 0 1 9.6 5.264h136.632a4.753 4.753 0 0 1 4.748 4.748v178.083zm-108.33 1.61L7.746 153.612h28.041c3.783 0 6.862 3.081 6.862 6.868zM9.6 1C4.631 1 .587 5.042.587 10.012V151.48c0 .091.041.17.052.26.022.182.04.363.11.537.069.173.182.312.293.458.055.074.08.16.146.227l42.059 43.496c.004.005.01.005.015.009a2.109 2.109 0 0 0 1.517.64H146.23c4.968 0 9.012-4.041 9.012-9.012V10.012C155.241 5.042 151.2 1 146.23 1z"/><path fill="none" stroke="#799993" stroke-miterlimit="50" stroke-width=".1" d="M150.977 188.095a4.753 4.753 0 0 1-4.748 4.748H46.91V160.48c0-6.136-4.99-11.13-11.123-11.13H4.851V10.012A4.753 4.753 0 0 1 9.6 5.264h136.632a4.753 4.753 0 0 1 4.748 4.748v178.083zm-108.33 1.61L7.746 153.612h28.041c3.783 0 6.862 3.081 6.862 6.868zM9.6 1C4.631 1 .587 5.042.587 10.012V151.48c0 .091.041.17.052.26.022.182.04.363.11.537.069.173.182.312.293.458.055.074.08.16.146.227l42.059 43.496c.004.005.01.005.015.009a2.109 2.109 0 0 0 1.517.64H146.23c4.968 0 9.012-4.041 9.012-9.012V10.012C155.241 5.042 151.2 1 146.23 1z"/></g></g></g><g><g><g><g><path fill="#fff" d="M99.386 152.761a1.78 1.78 0 0 1-1.778 1.778 1.78 1.78 0 0 1-1.779-1.778c0-.98.798-1.778 1.779-1.778.98 0 1.778.797 1.778 1.778zm-7.188 0a5.417 5.417 0 0 0 5.411 5.412 5.417 5.417 0 0 0 5.412-5.412 5.417 5.417 0 0 0-5.412-5.411 5.417 5.417 0 0 0-5.411 5.411z"/></g><g><path fill="#fff" d="M90.8 90.457l4.878-19.415c.04-.166.335-.395.504-.395l3.278-.012c.151 0 .418.21.453.358l4.527 19.426c.125.541-.019 1.588-.286 2.074l-2.784 5.067c-.164.298-.761.65-1.101.65h-5.23c-.345 0-.952-.356-1.12-.658l-2.85-5.079c-.26-.465-.399-1.5-.27-2.016zm6.279 22.49v-11.046a2.964 2.964 0 0 1 1.059 0v11.047c-.093.022-.232.025-.365.032-.055-.001-.11-.009-.164-.009-.054 0-.109.008-.163.01-.135-.008-.274-.011-.367-.033zm6.805 10.924v27.953c0 4.007-2.816 7.266-6.276 7.266-3.461 0-6.277-3.259-6.277-7.266V123.87c0-3.933 2.718-7.129 6.091-7.245.064.002.122.013.186.013.063 0 .121-.011.185-.013 3.373.116 6.09 3.312 6.09 7.245zM90.748 99.329c.556.992 1.58 1.768 2.698 2.182v12.049c0 .14.029.272.053.407-3.416 1.722-5.799 5.51-5.799 9.905v27.954c0 6.01 4.445 10.899 9.91 10.899 5.464 0 9.909-4.888 9.909-10.9v-27.954c0-4.396-2.384-8.184-5.799-9.906.022-.134.053-.267.053-.407v-12.011c1.155-.405 2.216-1.212 2.781-2.238l2.787-5.068c.7-1.275.97-3.23.64-4.649l-4.53-19.426c-.42-1.806-2.136-3.166-4.005-3.166l-3.28.013c-1.84.007-3.567 1.36-4.014 3.142L87.275 89.57c-.36 1.427-.098 3.395.623 4.68z"/></g><g><path fill="#fff" d="M64.772 152.761a1.78 1.78 0 0 1-1.779 1.778 1.78 1.78 0 0 1-1.778-1.778c0-.98.797-1.778 1.778-1.778s1.779.797 1.779 1.778zm-7.189 0a5.417 5.417 0 0 0 5.412 5.412 5.417 5.417 0 0 0 5.412-5.412 5.417 5.417 0 0 0-5.412-5.411 5.417 5.417 0 0 0-5.411 5.411z"/></g><g><path fill="#fff" d="M47.41 74.513c1.4-1.63 2.155-1.673 2.146-1.69.026.023.572.538.572 2.696v4.734c0 6.011 4.889 10.9 10.9 10.9h3.933c6.01 0 10.899-4.889 10.899-10.9V75.52c0-2.141.538-2.666.536-2.679.038 0 .792.05 2.14 1.622.012.018 1.264 1.779 1.264 6.958 0 5.83-2.96 11.162-7.913 14.258-5.324 3.313-12.463 3.311-17.78.002-4.958-3.1-7.917-8.43-7.917-14.26-.002-5.13 1.226-6.907 1.22-6.907zm15.055 38.435V101.9a2.964 2.964 0 0 1 1.059 0v11.047c-.093.022-.233.025-.365.032-.055-.001-.11-.009-.164-.009-.054 0-.109.008-.163.01-.135-.008-.275-.011-.367-.033zm6.804 10.923v27.953c0 4.007-2.815 7.266-6.276 7.266-3.46 0-6.276-3.259-6.276-7.266V123.87c0-3.933 2.718-7.129 6.09-7.245.064.002.123.013.186.013.064 0 .122-.011.185-.013 3.374.116 6.091 3.312 6.091 7.245zM52.183 98.762c2.047 1.274 4.305 2.12 6.648 2.605v12.191c0 .14.03.273.053.407-3.415 1.722-5.798 5.51-5.798 9.906v27.953c0 6.01 4.445 10.899 9.909 10.899s9.91-4.888 9.91-10.9v-27.952c0-4.396-2.384-8.184-5.8-9.906.023-.134.054-.267.054-.407v-12.19c2.345-.486 4.603-1.334 6.652-2.608 6.027-3.767 9.624-10.249 9.624-17.34 0-6.498-1.746-8.862-2.096-9.27-1.675-1.953-3.337-2.943-4.943-2.943-.978 0-4.167.454-4.167 6.312v4.734a7.274 7.274 0 0 1-7.267 7.267h-3.934a7.274 7.274 0 0 1-7.267-7.267V75.52c0-5.858-3.19-6.312-4.167-6.312-1.604 0-3.268.99-4.94 2.943-.351.408-2.097 2.772-2.097 9.27-.002 7.09 3.597 13.573 9.626 17.342z"/></g></g></g></g></g></g></svg>
            </div>
            <div class="sertificate-list-text-block">
                <div class="hide-block">
                    <p class="sertificate-list-text">Schülerinnen und Schüler erlernen wesentliche methodische Elemente zur Gründung nachhaltiger Schülerfirmen. Sie wählen aus dem gesamten Spektrum des Moduls Angebote aus. Der Zertifikatsausschuss sucht und autorisiert regelmäßig Anbieter der Bergischen Universität Wuppertal sowie der Bergischen Schulen und Unternehmen, die auf Grundlage der Zertifikatsordnung Angebote wahlweise zu nachstehenden Themen während eines Schuljahres bereithalten:<br>
                        <br>
                        - Unternehmenspräsentationen <br>
                        - Rhetorik <br>
                        - Teilnahme an Wettbewerben <br>
                        - Schüler/Innenpraktika in Firmen <br>
                        - Schüler/Innenpraktika in der Uni <br>
                            Die Qualität der Angebote wird durch den Zertifikatsausschuss <br>
                            in Zusammenarbeit mit   der Bergischen Universität Wuppertal sichergestellt.<br>
                        - Zertifikatsordnung<br>
                            Die Zertifikatsordnung wird an dieser Stelle veröffentlicht,<br>
                            sobald dies von allen beteiligten Partnern genehmigt ist.<br>
                        </p>
                </div>
                <button type="button" class="show-more-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
                </button>
            </div>
        </div>
    </section>
    <section class="sordung">
        <h2 class="section-name">Zertifikatsordnung</h2>
        <p class="network-text">Die Zertifikatsordnung wird an dieser Stelle veröffentlicht, sobald dies von allen beteiligten Partnern genehmigt ist.</p>
    </section>
    <section class="logos">
        <div class="logos-row">
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-1.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-2.svg" alt="">
            </div>
            <div class="logos-item mod-full">
            <img class="logos-img" src="assets/img/svg/logos-3.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-4.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-5.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-6.svg" alt="">
            </div>
        </div>
    </section>
  </div> 
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>