<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin nav -->
  <include src="../chunks/nav.html"></include>
  <!-- End nav -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="service mod-main">
        <h2 class="section-name">Servicestelle</h2>
        <div class="mod-main-text-block hide-block">
            <p class="network-text">Die regionale Servicestelle „Nachhaltige Schülerfirmen im Bergischen Land“ versteht sich als Unterstützungs- und Dienstleistungsagentur für Schülerfirmen im Bergischen Land, die die einschlägigen Bildungsprozesse rund um das weite Feld der Schülerfirmen koordiniert, steuert und abstimmt.<br>
                <br>
                Mit Blick auf die weitere Entwicklung richtet sich der Blick der Servicestelle verstärkt auf die Gestaltung des Bildungsangebotes und eigene Aktivitäten. Die Servicestelle hat ihren Sitz in Wuppertal in der Geschäftsstelle des regionalen Bildungsanbieters KURS 21 e.V.<br>
                <br>
                Das Angebot umfasst Moderation und Vernetzung, Strategie-, Konzept- und Prozessberatung, Fortbildung, Beratung und Begleitung. Die  Servicestelle arbeitet mit dem Ziel, schulformübergreifend nachhaltige Schülerfirmen zu beraten, zu unterstützen und auf ihrem Weg zu begleiten.</p>
        </div>
        <button type="button" class="show-more-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
        <div class="service-row">
            <div class="service-item">
            <div class="service-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewBox="0 0 52 60"><g><g><g/><g/><g><path fill="#285269" d="M49.49 56.203c0 .771-.683 1.398-1.52 1.398H16.172v-9.528c0-1.806-1.597-3.277-3.561-3.277H2.708V3.776c0-.77.683-1.397 1.52-1.397H47.97c.838 0 1.52.626 1.52 1.397v52.427zm-34.681.474L3.635 46.051h8.977c1.211 0 2.197.907 2.197 2.022zM4.229 1.123c-1.591 0-2.886 1.19-2.886 2.653v41.648c0 .027.014.05.017.076.007.054.013.107.035.158.022.051.059.092.094.135.018.022.026.047.047.067L15 58.665c.002.001.004.001.005.003a.726.726 0 0 0 .486.189H47.97c1.59 0 2.885-1.19 2.885-2.654V3.776c0-1.463-1.295-2.653-2.886-2.653z"/><path fill="none" stroke="#285269" stroke-miterlimit="50" d="M49.49 56.203c0 .771-.683 1.398-1.52 1.398H16.172v-9.528c0-1.806-1.597-3.277-3.561-3.277H2.708V3.776c0-.77.683-1.397 1.52-1.397H47.97c.838 0 1.52.626 1.52 1.397v52.427zm-34.681.474L3.635 46.051h8.977c1.211 0 2.197.907 2.197 2.022zM4.229 1.123c-1.591 0-2.886 1.19-2.886 2.653v41.648c0 .027.014.05.017.076.007.054.013.107.035.158.022.051.059.092.094.135.018.022.026.047.047.067L15 58.665c.002.001.004.001.005.003a.726.726 0 0 0 .486.189H47.97c1.59 0 2.885-1.19 2.885-2.654V3.776c0-1.463-1.295-2.653-2.886-2.653z"/></g><g><path fill="#285269" d="M41.219 40.711h-30.24c-.377 0-.682.281-.682.628 0 .346.305.627.682.627h30.24c.376 0 .682-.28.682-.627s-.305-.628-.682-.628z"/><path fill="none" stroke="#285269" stroke-miterlimit="50" d="M41.219 40.711h-30.24c-.377 0-.682.281-.682.628 0 .346.305.627.682.627h30.24c.376 0 .682-.28.682-.627s-.305-.628-.682-.628z"/></g><g><path fill="#285269" d="M41.219 34.035h-30.24c-.377 0-.682.281-.682.628 0 .346.305.627.682.627h30.24c.376 0 .682-.28.682-.627s-.305-.628-.682-.628z"/><path fill="none" stroke="#285269" stroke-miterlimit="50" d="M41.219 34.035h-30.24c-.377 0-.682.281-.682.628 0 .346.305.627.682.627h30.24c.376 0 .682-.28.682-.627s-.305-.628-.682-.628z"/></g><g><path fill="#285269" d="M41.219 27.403h-30.24c-.377 0-.682.28-.682.627 0 .346.305.627.682.627h30.24c.376 0 .682-.28.682-.627 0-.346-.305-.627-.682-.627z"/><path fill="none" stroke="#285269" stroke-miterlimit="50" d="M41.219 27.403h-30.24c-.377 0-.682.28-.682.627 0 .346.305.627.682.627h30.24c.376 0 .682-.28.682-.627 0-.346-.305-.627-.682-.627z"/></g><g><path fill="#285269" d="M41.219 20.77h-30.24c-.377 0-.682.28-.682.627 0 .346.305.627.682.627h30.24c.376 0 .682-.28.682-.627 0-.346-.305-.627-.682-.627z"/><path fill="none" stroke="#285269" stroke-miterlimit="50" d="M41.219 20.77h-30.24c-.377 0-.682.28-.682.627 0 .346.305.627.682.627h30.24c.376 0 .682-.28.682-.627 0-.346-.305-.627-.682-.627z"/></g></g></g></svg>
            </div>
            <p class="service-item-text">Angebote</p>
            </div>
            <div class="service-item">
            <div class="service-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="56" viewBox="0 0 75 56"><g><g><g><path fill="#285269" d="M32.774 39.612c0 1.93-1.711 3.504-3.81 3.504-2.1 0-3.81-1.574-3.81-3.504 0-1.931 1.71-3.504 3.81-3.504 2.099 0 3.81 1.573 3.81 3.504zm-9.643 0c0 2.932 2.644 5.363 5.832 5.363 3.266 0 5.833-2.431 5.833-5.363 0-2.932-2.644-5.363-5.833-5.363-3.188 0-5.832 2.43-5.832 5.363z"/></g><g><path fill="#285269" d="M50.737 39.612c0 1.93-1.711 3.504-3.81 3.504-2.1 0-3.81-1.574-3.81-3.504 0-1.931 1.71-3.504 3.81-3.504 2.099 0 3.81 1.573 3.81 3.504zm-9.643 0c0 2.932 2.644 5.363 5.832 5.363 3.266 0 5.833-2.431 5.833-5.363 0-2.932-2.644-5.363-5.833-5.363-3.188 0-5.832 2.43-5.832 5.363z"/></g><g><path fill="#285269" d="M64.89 36.108c2.099 0 3.81 1.573 3.81 3.504 0 1.93-1.711 3.504-3.81 3.504-2.1 0-3.811-1.574-3.811-3.504 0-1.931 1.71-3.504 3.81-3.504zm0 8.867c3.188 0 5.831-2.431 5.831-5.363 0-2.932-2.643-5.363-5.832-5.363-3.188 0-5.832 2.43-5.832 5.363 0 2.932 2.644 5.363 5.832 5.363z"/></g><g><path fill="#285269" d="M72.899 53.556H20.954V51.84c0-1.359.544-2.575 1.477-3.504.778-.787 1.633-1.216 2.644-1.359.545.286 1.478.787 2.8.93.155.071.233.143.389.143h1.166c1.555-.143 2.8-.715 3.422-1.001a5.44 5.44 0 0 1 2.643 1.358c.856.787 1.4 2.002 1.478 3.218 0 .43.311.715.7.787.078 0 .233.071.31.071.312 0 .545-.143.7-.286.156-.143.312-.429.234-.643.078-1.216.622-2.36 1.477-3.218.778-.787 1.633-1.216 2.644-1.359a9.18 9.18 0 0 0 2.722.93c.155.071.233.143.389.143h1.166c1.555-.143 2.8-.715 3.422-1.001a5.44 5.44 0 0 1 2.644 1.358c.855.858 1.4 2.003 1.477 3.218 0 .43.389.787.855.858H55.947c.233 0 .466-.143.7-.357.077-.072.077-.143.155-.215v-.071c0-.072.078-.215.078-.286.078-1.216.622-2.36 1.477-3.218.778-.787 1.633-1.216 2.644-1.359.545.358 1.633.858 3.11 1.001h1.478c.156 0 .311-.071.389-.071a9.845 9.845 0 0 0 2.8-.93 5.44 5.44 0 0 1 2.643 1.359c.933.93 1.478 2.145 1.478 3.504v1.716zm0-6.507c-1.167-1.145-2.566-1.788-4.2-1.931-.233-.072-.466 0-.7.143 0 0-1.088.786-2.643.858h-.7c-1.633-.072-2.8-.858-2.8-.858-.233-.072-.466-.143-.7-.143a6.842 6.842 0 0 0-4.198 1.93c-.39.43-.778.859-1.089 1.43-.311-.5-.622-.929-1.089-1.358-1.244-1.144-2.644-1.788-4.277-1.93-.233-.072-.466 0-.7.142 0 0-.855.572-2.099.787h-1.01c-1.556-.072-2.723-.858-2.723-.858-.233-.072-.466-.143-.7-.143-1.632.143-3.11.786-4.276 1.93-.39.43-.778.859-1.089 1.36-.311-.43-.622-.859-1.01-1.288-1.245-1.144-2.645-1.788-4.278-1.93-.233-.072-.466 0-.7.142 0 0-.933.644-2.177.787h-.389-.078c-1.944.143-3.421-.858-3.421-.858-.233-.072-.467-.143-.7-.143a6.842 6.842 0 0 0-4.199 1.93c-1.244 1.288-2.022 3.004-2.022 4.792v2.645c0 .215.156.501.311.644.156.215.467.286.7.286H73.91c.233 0 .544-.071.7-.286.233-.143.31-.429.31-.644V51.84c0-1.86-.7-3.576-2.021-4.791z"/></g><g><path fill="#285269" d="M9.445 41.042c-.155 0-.233 0-.389.071H2.292v-13.73c0-1.43.545-2.716 1.478-3.646.7-.715 1.555-1.216 2.488-1.359.544.215 1.478.715 2.722.93.078.071.233.071.31.071H11.002c.077 0 .233-.071.31-.071a9.18 9.18 0 0 0 2.722-.93c.933.215 1.789.644 2.489 1.359l.155.143c.078.214.156.429.389.572.622 1.287.933 4.434.933 14.874v1.716zm13.22-14.016c.544.215 1.166.072 1.477-.357l4.277-5.506c.311-.358.778-.572 1.167-.5h.077a.251.251 0 0 0 .156.07s.078.144 0 .43l-5.832 7.365-4.044-1.216c-.078-.572-.155-1.144-.233-1.573zm-12.598-9.51c-2.1 0-3.888-1.573-3.888-3.576 0-1.93 1.711-3.575 3.888-3.575 2.178 0 3.966 1.573 3.888 3.575 0 1.931-1.71 3.576-3.888 3.576zm9.954 25.314c.155-.215.31-.5.31-.787v-2.789c0-4.219-.077-7.294-.155-9.582l3.966 1.216c.156.071.234.071.39.071.388 0 .777-.143 1.01-.429l1.166-1.501c.156.071.311.071.467.071h27.76c2.411 0 4.355-1.788 4.355-3.933V4.716c0-2.217-1.944-4.005-4.354-4.005H16.833c-2.411 0-4.355 1.788-4.355 4.005V8.72a6.824 6.824 0 0 0-2.41-.429c-3.422 0-6.222 2.574-6.222 5.72 0 3.147 2.8 5.721 6.221 5.721 3.5 0 6.221-2.574 6.221-5.72 0-1.43-.622-2.789-1.555-3.79.078-.143.078-.215.078-.358V4.716c0-1.001.933-1.86 2.022-1.86h38.103c1.088 0 2.022.859 2.022 1.86v20.38c0 1-.934 1.859-2.022 1.859H28.264l3.577-4.72c.077-.071.155-.143.155-.286.311-.93.233-1.644-.155-2.288-.078-.072-.156-.215-.234-.286l4.355-5.864c.389-.5.233-1.144-.311-1.501a1.214 1.214 0 0 0-1.633.286l-4.666 6.22c-1.088 0-2.1.501-2.8 1.431l-3.732 4.791-3.966-1.716a3.202 3.202 0 0 0-.622-.787c-1.244-1.215-2.644-1.93-4.354-2.073-.311 0-.622.071-.856.214 0 0-1.088.787-2.644.858h-.622c-1.555-.071-2.644-.858-2.644-.858-.233-.143-.544-.214-.855-.214-1.71.143-3.11.858-4.355 2.073-1.244 1.359-2.021 3.147-2.021 5.077v14.803c0 .286.155.572.31.786.234.143.545.286.856.286h18.118c.312 0 .7-.143.856-.357z"/></g><g><path fill="#285269" d="M49.57 8.577H24.064c-.7 0-1.244.5-1.244 1.144 0 .644.545 1.144 1.244 1.144h25.429c.7 0 1.4-.5 1.4-1.144 0-.643-.623-1.144-1.323-1.144z"/></g><g><path fill="#285269" d="M49.493 14.298h-10.11c-.7 0-1.244.5-1.244 1.144 0 .644.545 1.144 1.245 1.144h10.109c.7 0 1.321-.5 1.321-1.144 0-.644-.622-1.144-1.321-1.144z"/></g><g><path fill="#285269" d="M49.493 19.518h-10.11c-.7 0-1.244.5-1.244 1.144 0 .644.545 1.144 1.245 1.144h10.109c.7 0 1.321-.5 1.321-1.144 0-.643-.622-1.144-1.321-1.144z"/></g></g></g></svg>
            </div>
            <p class="service-item-text">Workshops</p>
            </div>
            <div class="service-item">
            <div class="service-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="46" viewBox="0 0 88 46"><g><g><g><path fill="#285269" d="M49.879 43.185c-.547.253-1.073.381-1.556.381-1.329 0-2.065-.975-2.09-1.01a1.067 1.067 0 0 0-.874-.434c-.162 0-.326.035-.48.107-.476.226-.895.341-1.245.341-1.065 0-1.42-1.259-1.432-1.305a1 1 0 0 0-.66-.686 1.117 1.117 0 0 0-.985.14c-1.068.742-2.052 1.117-2.925 1.117-1.667 0-2.53-1.417-2.561-1.473a1.033 1.033 0 0 0-.653-.48 1.108 1.108 0 0 0-.825.119c-1.035.6-1.925.905-2.655.905-2.095 0-2.494-2.967-2.508-3.065-.116-.577-.176-1.357.222-1.808.342-.395.951-.416.941-.416.137 0 .278-.026.405-.073.005-.002.478-.18 1.059-.18.999 0 1.657.493 2.077 1.546.118.29.379.51.7.592.327.084.674.016.937-.178.012-.01 1.515-1.095 2.958-1.095.459 0 1.85 0 2.634 2.723.094.326.37.583.721.674.352.093.739.01 1.004-.221.413-.356 1.71-1.269 2.798-1.269.311 0 1.131 0 1.761 1.617.104.264.329.473.61.573.284.102.603.081.87-.051.01-.005.748-.366 1.484-.366.513 0 1.07.149 1.34 1.253a.96.96 0 0 0 .256.442c.003.002.16.195.119.408-.07.348-.614.786-1.447 1.172zm10.442-22.33c-2.913-.963-21.347 1.187-25.806 1.727-.627-.29-1.452-.781-1.517-1.374-.078-.687.791-1.558 1.34-1.974l19.14-4.11c.078-.018.15-.04.217-.072 1.68-.748 2.202-1.762 2.34-2.48.342-1.747-1.17-3.254-1.343-3.42a1.094 1.094 0 0 0-.898-.287c-7.173.922-20.973 2.686-21.874 2.769-1.098.1-5.362 1.49-6.984 2.032L12.112 6.9l.526-2.814c.09-.481-.23-.948-.738-1.083L3.135.667C2.581.522 2 .811 1.84 1.321c-.16.51.16 1.043.714 1.19l7.87 2.095-4.419 23.706-4.466-1.3c-.55-.163-1.136.119-1.313.625-.172.506.132 1.045.68 1.205l5.61 1.633a1.135 1.135 0 0 0 .856-.098.966.966 0 0 0 .485-.656l3.881-20.808 12.58 6.638c.268.142.59.167.876.07 2.904-.975 6.29-2.018 6.933-2.078 1.07-.098 17.91-2.258 21.368-2.702.276.375.58.928.488 1.397-.078.385-.446.735-1.095 1.04l-19.243 4.133a1.022 1.022 0 0 0-.377.16c-.263.173-2.57 1.774-2.346 3.826.135 1.249 1.143 2.272 2.99 3.046.18.073.377.103.57.075 8.69-1.058 23.194-2.501 25.133-1.859 4.785 1.584 9.454 3.969 9.87 5.964-1.39.552-3.117 1.967-3.023 4.784.03.958-.19 1.168-.193 1.168-.18.089-.923-.135-1.206-.217-.42-.126-.784-.235-1.151-.235-.504 0-1.824 0-2.284 4.19-.46.456-1.723 1.565-2.902 1.279-.542-.13-1.023-.08-1.42.146-.65.368-.798 1.014-.929 1.584-.134.594-.245.97-.591 1.164-.27.154-.941.335-2.482.056.02-.065.058-.124.07-.19.167-.839-.197-1.493-.446-1.826-.475-1.616-1.673-2.536-3.32-2.536-.526 0-1.022.093-1.437.206-.941-1.61-2.267-1.978-3.287-1.978-1.136 0-2.21.464-2.996.924-1.088-2.302-2.811-2.83-4.16-2.83-1.232 0-2.402.459-3.203.874-1.047-1.486-2.56-1.736-3.47-1.736-.755 0-1.38.165-1.686.261a4.066 4.066 0 0 0-1.402.415.937.937 0 0 0-.275-.32L12.274 22.398c-.448-.333-1.106-.266-1.468.147-.36.412-.29 1.016.16 1.349L26.385 35.3c.075.056.159.09.24.124-.384.738-.475 1.652-.258 2.699.19 1.626 1.399 4.702 4.568 4.702.892 0 1.869-.251 2.915-.75.68.728 1.927 1.68 3.78 1.68.999 0 2.037-.285 3.099-.844.547.805 1.483 1.577 2.904 1.577.458 0 .944-.081 1.442-.248a4.863 4.863 0 0 0 3.247 1.242c.81 0 1.647-.195 2.489-.581.45-.21.825-.435 1.158-.673 1.061.256 1.969.386 2.743.386.883 0 1.594-.164 2.173-.495 1.131-.64 1.374-1.698 1.534-2.399.014-.067.033-.142.05-.213 2.713.456 4.896-2.099 4.99-2.211a.923.923 0 0 0 .217-.501c.097-1.024.335-2.147.555-2.668l.188.057c.832.247 2.09.624 3.099-.072.738-.506 1.073-1.41 1.03-2.762-.084-2.575 1.94-3.038 2.163-3.078.425-.073.757-.382.835-.772.794-4.028-6.694-7.145-11.226-8.646z"/></g><g><path fill="#285269" d="M3.086 8.38a.903.903 0 0 1 .448-.532c.07-.035.142-.062.215-.08.425-.113.875.057 1.093.412a.806.806 0 0 1 .086.67.875.875 0 0 1-.448.529c-.456.24-1.05.084-1.305-.33a.805.805 0 0 1-.09-.67zm1.75 2.927c.234-.062.461-.148.674-.26.706-.367 1.215-.968 1.432-1.688a2.605 2.605 0 0 0-.284-2.126c-.817-1.321-2.713-1.808-4.15-1.054-.706.369-1.215.968-1.432 1.69a2.583 2.583 0 0 0 .284 2.124c.696 1.126 2.124 1.667 3.477 1.314z"/></g><g><path fill="#285269" d="M86.052.464l-9.09.713c-.528.04-.94.442-.951.929l-.114 3.797-16.703 10.305-2.306-1.61a1.099 1.099 0 0 0-1.459.182c-.35.42-.258 1.023.2 1.344l2.897 2.026c.357.248.844.26 1.212.032l16.089-9.926-.43 14.526-3.522 1.757c-.504.253-.695.835-.417 1.301.188.319.544.5.916.5.167 0 .337-.037.496-.115l2.46-1.231-.089 3.109a.92.92 0 0 0 .334.732c.07.06.15.11.232.15.18.083.384.118.589.1l5.845-.593c.575-.057.99-.53.926-1.058-.065-.528-.581-.91-1.153-.85l-4.657.475.108-3.639c0-.01.008-.017.008-.027l.696-17.057a.91.91 0 0 0-.183-.568l.08-2.752 8.165-.639c.572-.045.999-.51.95-1.039-.047-.528-.556-.917-1.13-.874z"/></g><g><path fill="#285269" d="M84.23 8.674c-.336.36-.95.406-1.348.09a.84.84 0 0 1-.328-.601.824.824 0 0 1 .23-.64 1.01 1.01 0 0 1 1.348-.092.854.854 0 0 1 .328.601.825.825 0 0 1-.23.642zm-3.023-2.407a2.643 2.643 0 0 0-.736 2.035c.06.745.432 1.425 1.047 1.915.185.146.386.272.602.373 1.252.59 2.771.317 3.687-.662.536-.565.797-1.287.734-2.031-.058-.746-.427-1.426-1.042-1.917-1.251-.997-3.212-.86-4.292.287z"/></g></g></g></svg>
            </div>
            <p class="service-item-text">Lernpartner-<br>
                schaften</p>
            </div>
            <div class="service-item">
            <div class="service-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="47" viewBox="0 0 72 47"><g><g><g><path fill="#285269" d="M44.055 37.856c3.174 0 5.477-2.579 5.477-6.132V9.168c0-3.725-2.457-6.755-5.477-6.755H8.033c-3.019 0-5.476 3.03-5.476 6.755V31.24c0 3.726 2.457 6.756 5.476 6.756h.007a.577.577 0 0 1 .35.12v.001c.02.016.04.032.056.05v.002a.305.305 0 0 1 .033.036l3.845 4.773 8.342-5.038a.58.58 0 0 1 .302-.083h23.087zm.078 1.01H21.132l-8.639 5.217a.583.583 0 0 1-.742-.121l-4-4.964c-3.495-.175-6.293-3.588-6.293-7.759V9.169c0-4.282 2.95-7.766 6.575-7.766h36.022c3.626 0 6.575 3.484 6.575 7.765v22.556c0 4.099-2.712 7.085-6.466 7.14a.6.6 0 0 1-.031.002zm-3.458-10.67c0 .28-.246.506-.55.506H12.014c-.304 0-.55-.226-.55-.505 0-.28.246-.505.55-.505h28.111c.304 0 .55.226.55.505zm0-9.158c0 .28-.246.505-.55.505H12.014c-.304 0-.55-.226-.55-.505s.246-.505.55-.505h28.111c.304 0 .55.226.55.505zm0-8.444c0 .28-.246.505-.55.505H12.014c-.304 0-.55-.226-.55-.505 0-.28.246-.505.55-.505h28.111c.304 0 .55.226.55.505zm30.445 5.51V34.89c0 3.515-2.341 6.397-5.283 6.602l-2.402 4.088a.54.54 0 0 1-.334.246.587.587 0 0 1-.426-.05l-8.2-4.39h-15.5c-.303 0-.549-.225-.549-.505 0-.279.246-.505.55-.505h15.648c.096 0 .192.024.276.069l7.839 4.196 2.275-3.874a.546.546 0 0 1 .06-.085l.001-.001a.483.483 0 0 1 .07-.067h.002a.574.574 0 0 1 .35-.12h.005c2.493 0 4.52-2.514 4.52-5.603V16.104c0-3.089-2.027-5.603-4.52-5.603H52.795c-.304 0-.55-.226-.55-.505s.246-.505.55-.505h12.707c3.098 0 5.618 2.967 5.618 6.613z"/><path fill="none" stroke="#285269" stroke-miterlimit="50" stroke-width="1.5" d="M44.055 37.856c3.174 0 5.477-2.579 5.477-6.132V9.168c0-3.725-2.457-6.755-5.477-6.755H8.033c-3.019 0-5.476 3.03-5.476 6.755V31.24c0 3.726 2.457 6.756 5.476 6.756h.007a.577.577 0 0 1 .35.12s0 0 0 0v.001c.02.016.04.032.056.05v.002a.305.305 0 0 1 .033.036l3.845 4.773 8.342-5.038a.58.58 0 0 1 .302-.083h23.087zm.078 1.01H21.132l-8.639 5.217a.583.583 0 0 1-.742-.121l-4-4.964c-3.495-.175-6.293-3.588-6.293-7.759V9.169c0-4.282 2.95-7.766 6.575-7.766h36.022c3.626 0 6.575 3.484 6.575 7.765v22.556c0 4.099-2.712 7.085-6.466 7.14a.6.6 0 0 1-.031.002zm-3.458-10.67c0 .28-.246.506-.55.506H12.014c-.304 0-.55-.226-.55-.505 0-.28.246-.505.55-.505h28.111c.304 0 .55.226.55.505zm0-9.158c0 .28-.246.505-.55.505H12.014c-.304 0-.55-.226-.55-.505s.246-.505.55-.505h28.111c.304 0 .55.226.55.505zm0-8.444c0 .28-.246.505-.55.505H12.014c-.304 0-.55-.226-.55-.505 0-.28.246-.505.55-.505h28.111c.304 0 .55.226.55.505zm30.445 5.51V34.89c0 3.515-2.341 6.397-5.283 6.602l-2.402 4.088a.54.54 0 0 1-.334.246.587.587 0 0 1-.426-.05l-8.2-4.39h-15.5c-.303 0-.549-.225-.549-.505 0-.279.246-.505.55-.505h15.648c.096 0 .192.024.276.069l7.839 4.196 2.275-3.874a.546.546 0 0 1 .06-.085l.001-.001a.483.483 0 0 1 .07-.067h.002v0a.574.574 0 0 1 .35-.12h.005c2.493 0 4.52-2.514 4.52-5.603V16.104c0-3.089-2.027-5.603-4.52-5.603H52.795c-.304 0-.55-.226-.55-.505s.246-.505.55-.505h12.707c3.098 0 5.618 2.967 5.618 6.613z"/></g></g></g></svg>
            </div>
            <p class="service-item-text">beratung</p>
            </div>
            <div class="service-item">
            <div class="service-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="58" viewBox="0 0 65 58"><g><g><g><path fill="#285269" d="M35.795 29.01c-.968 1.78-2.58 3.78-3.95 5.263.322-2.89 1.21-6.448 3.627-9.487.403-.52.323-1.186-.242-1.557-.564-.37-1.29-.296-1.692.223-2.177 2.668-3.305 5.707-3.87 8.45-.402-1.928-.322-4.077.726-6.079 2.015-3.557 4.917-4.817 6.53-5.262.402 1.63.644 5.188-1.13 8.45zm-11.446-4.52c1.854-.149 3.063.518 3.708 1.037-.08.222-.242.519-.323.815 0 0 0-.074-.08-.074-.403-.519-1.129-.593-1.693-.296-.564.37-.645 1.037-.322 1.556.322.445.886 1.334 1.45 2.891v.074c0 .37.081.741.081 1.112-1.531-2.075-2.902-4.596-2.821-7.116zm14.831-5.634c-.161-.519-.725-.89-1.29-.815-.242 0-5.239.519-8.705 5.41-1.209-.815-3.305-1.704-6.206-1.037-.484.074-.887.445-.887.963-.887 5.634 4.353 11.044 6.851 13.268.162.37.403.741.484.964.08 1.63.242 2.742.322 2.89.081.52.645.89 1.21.89h.241c.645-.074 1.129-.667.968-1.26 0 0-.162-.89-.242-2.298 1.048-1.038 4.433-4.595 6.126-7.709 2.82-5.41 1.128-11.044 1.128-11.266z"/></g><g><g><path fill="#285269" d="M52.721 41.76c-.886.592-1.531 1.408-1.854 2.371l-1.934 5.04c-.403 1.112-1.532 1.854-2.821 1.854l-5.804.148a5.37 5.37 0 0 0-2.982.89L32.571 55.1a3.251 3.251 0 0 1-3.466 0l-4.756-3.039a5.37 5.37 0 0 0-2.982-.89l-5.884-.147c-1.29 0-2.418-.816-2.821-1.853l-1.935-5.04c-.322-.964-.967-1.78-1.854-2.373L4.28 38.572c-1.048-.74-1.451-1.927-1.048-3.039l1.693-5.114c.322-.964.322-2.001 0-2.89L3.23 22.413c-.403-1.112.08-2.372 1.048-3.04l4.594-3.186c.887-.593 1.532-1.409 1.854-2.372l1.935-5.04c.403-1.112 1.531-1.853 2.82-1.853l5.804-.075a5.37 5.37 0 0 0 2.982-.889l4.756-3.039c.484-.296 1.128-.519 1.773-.519s1.21.148 1.773.519l4.756 3.039a5.37 5.37 0 0 0 2.982.89l5.804.074c1.29 0 2.418.815 2.82 1.853l1.935 5.04c.323.963.968 1.779 1.854 2.372l4.595 3.187c1.047.741 1.45 1.927 1.047 3.039l-1.612 5.04c-.322.964-.322 2.001 0 2.89l1.693 5.115c.403 1.112-.08 2.372-1.048 3.04zm1.451 1.778l4.595-3.187c1.853-1.26 2.579-3.484 1.934-5.485l-1.693-5.114a2.81 2.81 0 0 1 0-1.63l1.693-5.115c.645-2.001-.08-4.225-1.935-5.485l-4.594-3.187A3.457 3.457 0 0 1 53.124 13L51.19 7.96c-.726-2.001-2.74-3.335-5.078-3.41l-5.723-.073c-.645 0-1.209-.149-1.693-.52L33.941.92c-1.854-1.186-4.433-1.186-6.287 0l-4.756 3.039c-.483.296-1.048.519-1.693.519l-5.803.074c-2.257.074-4.272 1.408-5.078 3.41L8.39 13c-.162.518-.565.963-1.048 1.334l-4.595 3.187C.974 18.782.168 21.006.894 23.007l1.692 5.114a2.81 2.81 0 0 1 0 1.63L.894 34.867c-.645 2.001.08 4.225 1.934 5.485l4.594 3.187c.484.371.806.816 1.048 1.335l1.935 5.04c.725 2.001 2.74 3.335 5.078 3.41l5.803.073c.645 0 1.21.149 1.693.52l4.755 3.038c.887.593 2.015.89 3.144.89a5.905 5.905 0 0 0 3.143-.89l4.756-3.039c.484-.296 1.048-.519 1.693-.519l5.803-.074c2.257-.074 4.272-1.408 5.078-3.41l1.934-5.04c0-.518.404-.963.887-1.334z"/></g><g><path fill="#285269" d="M25.558 9.443h.242c.725-.149 1.45-.297 2.257-.37.645-.075 1.128-.668 1.048-1.261-.081-.593-.726-1.038-1.37-.964-.807.075-1.693.223-2.5.371-.644.148-1.047.741-.886 1.334.161.593.645.89 1.209.89z"/></g><g><path fill="#285269" d="M20.964 46.8c-.645-.297-1.37-.667-1.935-1.038-.564-.296-1.29-.222-1.692.296-.403.52-.242 1.186.322 1.557.725.445 1.45.815 2.176 1.186.161.074.403.148.564.148.403 0 .887-.222 1.048-.593.323-.593.08-1.26-.483-1.556z"/></g><g><path fill="#285269" d="M18.223 12.333c.242 0 .484-.074.645-.148.645-.37 1.29-.741 1.934-1.038.565-.296.806-.963.484-1.482-.322-.519-1.048-.741-1.612-.445-.725.37-1.45.742-2.176 1.186-.564.37-.726 1.038-.323 1.557.242.222.645.37 1.048.37z"/></g><g><path fill="#285269" d="M28.137 48.801a23.849 23.849 0 0 1-2.257-.37c-.644-.149-1.29.222-1.45.815-.162.593.241 1.186.886 1.334.806.148 1.693.296 2.499.37h.161c.564 0 1.129-.444 1.21-.963.08-.519-.323-1.112-1.049-1.186z"/></g><g><path fill="#285269" d="M10.002 34.792c-.162-.593-.887-.89-1.532-.741-.645.148-.967.815-.806 1.408.242.741.564 1.483.887 2.15.161.444.645.667 1.128.667.161 0 .323 0 .484-.074.645-.223.886-.89.645-1.483-.323-.593-.565-1.26-.806-1.927z"/></g><g><path fill="#285269" d="M8.47 23.896c.08 0 .242.074.323.074.483 0 .967-.296 1.128-.815.242-.667.484-1.334.806-2.001.242-.593 0-1.186-.645-1.483-.645-.222-1.29 0-1.612.593-.322.742-.645 1.483-.886 2.224-.162.593.241 1.186.886 1.408z"/></g><g><path fill="#285269" d="M33.377 9.072c.725.074 1.531.222 2.256.37h.242c.564 0 1.048-.37 1.21-.889.16-.593-.243-1.186-.887-1.334-.806-.148-1.693-.296-2.5-.37-.644-.075-1.289.37-1.37.963-.08.593.404 1.186 1.049 1.26z"/></g><g><path fill="#285269" d="M13.468 41.018c-.403-.519-1.21-.593-1.693-.222-.564.37-.645 1.038-.242 1.556.484.593 1.048 1.186 1.612 1.78.242.222.564.37.887.37.322 0 .564-.074.806-.297a1.08 1.08 0 0 0 .08-1.556c-.564-.519-1.047-1.112-1.45-1.63z"/></g><g><path fill="#285269" d="M11.694 17.151c.242.149.484.223.726.223.403 0 .725-.149.967-.445.484-.519.967-1.112 1.45-1.63.484-.445.404-1.187-.08-1.557-.483-.445-1.29-.37-1.692.074-.565.593-1.129 1.186-1.612 1.779-.404.519-.323 1.186.241 1.556z"/></g><g><path fill="#285269" d="M7.906 31.16c.645 0 1.209-.593 1.128-1.186v-1.037-.964c0-.593-.483-1.112-1.128-1.186-.645 0-1.21.445-1.29 1.038v2.297l1.21-.074-1.21.074c.08.593.565 1.038 1.29 1.038z"/></g><g><path fill="#285269" d="M51.593 23.007c.161.445.645.815 1.128.815.08 0 .242 0 .323-.074.645-.148.967-.815.806-1.408a17.552 17.552 0 0 0-.887-2.15c-.242-.593-.967-.815-1.612-.593-.645.223-.887.89-.645 1.483.403.593.645 1.26.887 1.927z"/></g><g><path fill="#285269" d="M35.714 48.43c-.725.149-1.45.297-2.257.371-.645.074-1.128.593-1.048 1.26.08.593.565.964 1.21.964h.16c.807-.075 1.693-.223 2.5-.371.644-.148 1.047-.741.886-1.334a1.196 1.196 0 0 0-1.451-.89z"/></g><g><path fill="#285269" d="M54.978 27.676c0-.593-.564-1.111-1.29-1.037-.644 0-1.209.593-1.128 1.186v2.149c0 .593.484 1.112 1.129 1.186h.08c.645 0 1.21-.445 1.21-1.038v-1.111-1.186z"/></g><g><path fill="#285269" d="M49.9 40.722c-.564-.37-1.29-.297-1.693.222a32.224 32.224 0 0 1-1.45 1.63c-.484.446-.403 1.187.08 1.557.242.223.564.297.806.297.323 0 .645-.148.887-.37.564-.594 1.128-1.187 1.612-1.78.403-.444.242-1.186-.242-1.556z"/></g><g><path fill="#285269" d="M53.124 34.05c-.645-.147-1.29.15-1.531.742-.242.667-.484 1.334-.806 2.001-.242.593 0 1.186.645 1.483.16.074.322.074.483.074.484 0 .887-.222 1.129-.667.322-.741.644-1.483.886-2.224.162-.593-.16-1.26-.806-1.408z"/></g><g><path fill="#285269" d="M40.63 11.073a26 26 0 0 1 2.016 1.038c.242.148.403.148.645.148.403 0 .806-.148 1.048-.519.403-.518.16-1.186-.323-1.556-.725-.445-1.45-.815-2.176-1.186-.564-.297-1.29-.074-1.612.519-.484.593-.242 1.26.403 1.556z"/></g><g><path fill="#285269" d="M48.127 16.855c.242.296.564.445.967.445.242 0 .484-.075.726-.223.564-.37.644-1.038.241-1.556-.483-.593-1.047-1.186-1.612-1.78a1.327 1.327 0 0 0-1.692-.073 1.08 1.08 0 0 0-.08 1.556c.483.519.966 1.038 1.45 1.63z"/></g><g><path fill="#285269" d="M42.646 45.688c-.645.37-1.29.741-1.935 1.038-.564.296-.806.963-.564 1.482.242.37.645.593 1.048.593.161 0 .403-.074.564-.148.726-.37 1.451-.741 2.177-1.186.564-.37.725-1.038.322-1.557-.322-.37-1.048-.519-1.612-.222z"/></g><g><path fill="#285269" d="M60.782 49.023c-.887 1.112-2.096 1.78-3.144 1.78-.322 0-.564-.075-.806-.223-.806-.593-.887-2.298.403-3.929.887-1.111 2.096-1.778 3.144-1.778.322 0 .564.074.806.222.806.593.886 2.298-.403 3.928zm1.853-5.707c-.644-.445-1.45-.667-2.256-.667-1.774 0-3.708 1.038-5.078 2.668-2.016 2.52-1.935 5.633.16 7.042.646.445 1.452.667 2.258.667 1.773 0 3.707-1.038 5.078-2.668 1.934-2.595 1.854-5.634-.162-7.042z"/></g></g></g></g></svg>
            </div>
            <p class="service-item-text">Qualitäts-<br>
                siegel</p>
            </div>
            <div class="service-item">
            <div class="service-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58"><g><g><g><path fill="#285269" d="M41 29v-3h4v3z"/></g><g><path fill="#285269" d="M38 29v-3h1v3z"/></g><g><path fill="#285269" d="M34 29v-3h2v3z"/></g><g><path fill="#285269" d="M28.935 39.704L4.717 33.441l7.268-1.88c.442.436.966.786 1.548 1.027.108.044.223.067.332.103.184.061.364.13.557.169.311.063.63.097.955.097h27.117c.324 0 .644-.034.955-.097.192-.039.373-.109.557-.169.11-.036.225-.059.332-.103a4.842 4.842 0 0 0 1.548-1.027l7.268 1.88zm13.559 10.955l-13.559 4.52-13.558-4.52V38.2l13.316 3.443a.976.976 0 0 0 .485 0l13.316-3.444zM37.652 19.4h1.937v1.936h-1.937zm-6.78-1.938H27v-1.936h3.873zm-12.59 1.937h1.937v1.937h-1.937zM45.4 28.114a2.88 2.88 0 0 1-.598 1.748c-.006.006-.015.011-.02.019a2.979 2.979 0 0 1-.482.492 2.92 2.92 0 0 1-.484.315c-.03.014-.056.033-.085.046-.156.076-.32.13-.488.176-.04.011-.078.029-.119.037a2.89 2.89 0 0 1-.63.073H15.378c-.215 0-.425-.027-.63-.074-.042-.008-.08-.026-.12-.037a2.776 2.776 0 0 1-.486-.176c-.03-.013-.057-.032-.086-.046a2.907 2.907 0 0 1-.483-.314l-.024-.02a2.98 2.98 0 0 1-.457-.472c-.006-.008-.014-.012-.02-.02a2.88 2.88 0 0 1-.6-1.746v-9.71a4.792 4.792 0 0 0 2.906.993h.969v2.906c0 .535.432.968.968.968h3.874a.968.968 0 0 0 .968-.968v-2.906h13.559v2.906c0 .535.433.968.968.968h3.874a.968.968 0 0 0 .968-.968v-2.906h.969a4.792 4.792 0 0 0 2.905-.993zM12.472 10.683h32.927v3.874a2.909 2.909 0 0 1-2.905 2.905h-9.685v-2.905a.968.968 0 0 0-.968-.968h-5.81a.968.968 0 0 0-.97.968v2.905h-9.684a2.909 2.909 0 0 1-2.905-2.905zm20.337-1.937h-7.747V6.808c0-.534.434-.968.968-.968h5.81c.535 0 .97.434.97.968zM21.188 6.808a4.848 4.848 0 0 1 4.842-4.842h5.81a4.848 4.848 0 0 1 4.843 4.842v1.937h-1.937V6.808a2.909 2.909 0 0 0-2.905-2.905h-5.81a2.909 2.909 0 0 0-2.906 2.905v1.937h-1.937zm33.896 48.195l-.854-1.709.854-1.708.854 1.708zm2.905-44.32V8.744H38.62V6.808A6.788 6.788 0 0 0 31.84.03h-5.81a6.788 6.788 0 0 0-6.78 6.78v1.936h-7.747a.968.968 0 0 0-.968.969v18.4c0 .614.126 1.196.335 1.736L.608 32.504a.969.969 0 0 0 0 1.874l12.832 3.318v4.945H2.787v1.937H13.44v1.937H5.693v1.937h7.747v1.937H8.598v1.937h5.655l14.376 4.792a.974.974 0 0 0 .613 0l14.526-4.842a.966.966 0 0 0 .663-.919v-13.66l9.684-2.505v13.999l-1.835 3.67a.968.968 0 0 0 0 .866l1.937 3.874a.97.97 0 0 0 1.734 0l1.936-3.874a.968.968 0 0 0 0-.867l-1.835-3.668v-14.5l1.21-.314a.969.969 0 0 0 0-1.874l-10.261-2.655c.21-.54.335-1.121.335-1.735V18.43h4.842v-1.937h-4.842v-1.937h7.748V12.62h-7.748v-1.937z"/></g></g></g></svg>
            </div>
            <p class="service-item-text">Messe</p>
            </div>
        </div>
    </section>
    <section class="angebote">
        <h2 class="section-name">Angebote</h2>
        <p class="network-sub">Das Beratungsangebot richtet sich an Lehrkräfte aller Fächer sowie an Schulleitungen und Unternehmen sowie an Interessierte mit zahlreichen Themen:</p>
        <div class="angebote-block">
            <div class="angebote-text-block hide-block">
                <ul class="angebote-list">
                    <li class="angebote-item">Geschäftsideenfindung</li>
                    <li class="angebote-item">Neugründung und Aufbau betriebsähnlicher Organisationen und Strukturen von Schülerfirmen</li>
                    <li class="angebote-item">Unterstützung bei rechtlichen, organisatorischen und finanziellen Fragen</li>
                    <li class="angebote-item">Unterstützung bei der Einbindung in das Schulprogramm<br>
                            Erarbeitung von Zielen mit Bezug auf Nachhaltigkeit<br>
                            Workshopangebote zu schülerspezifischen Themen wie Buchführung, Marketing, Businessplan, Presse-/ Öffentlichkeitsarbeit oder rechtliche Grundlagen</li>
                    <li class="angebote-item">Unterstützung bei der Vermittlung von Kooperationskontakten der Nachhaltigen Schülerfirmen mit außerschulischen Partnern wie Betrieben und Verbänden sowie zu anderen Nachhaltigen Schülerfirmen</li>
                    <li class="angebote-item">Information über Bezüge und den Beitrag der Nachhaltigen Schülerfirmen zur Qualitätsentwicklung von Schulen, zur Schulprogrammarbeit und zur unterrichtlichen Umsetzung curricularer Vorgaben des Kerncurriculums Wirtschaft</li>
                </ul>
            </div>
            <button type="button" class="show-more-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
            </button>
        </div>
    </section>
    <section class="fur">
        <h2 class="section-name">Für Lehrkräfte, schüler und Unternehmen</h2>
    </section>
    <section class="unite">
        <h3 class="unite-name">Unternehmensworkshops</h3>
        <div class="unite-text-block hide-block">
            <p class="network-text">Unternehmen, die einen Beitrag für die Unterstützung nachhaltiger Schülerfirmen im Bergischen Land leisten wollen, sind im Netzwerk herzlich willkommen und können dies auf unterschiedliche Weise tun.<br>
                <br>
                Eine tolle Kooperationsmöglichkeit liegt in der Bereitstellung von Weiterbildungsangeboten für Schülerinnen und Schülern zu Themen der Nachhaltigkeit und des Unternehmertums. Naschbela.de vermittelt gerne die Kontakte. Bei längerfristigen Engagements und entsprechendem Interesse werden zusätzlich umfassende Hilfestellungen angeboten, wenn die Angebote aus der Unternehmerschaft in das Weiterbildungszertifikat „Young Sustainable Entrepreneur Certificate“ integriert werden sollen.</p>
        </div>
        <h3 class="unite-name">Unternehmenspartner<br>
            finden</h3>
        <div class="unite-text-block hide-block">
            <p class="network-text">Partnerschaften zwischen Schulen und Unternehmen haben sich in der Vergangenheit als erfolgreiche Instrumente erwiesen, Jugendliche auf ihrem Weg in eine Ausbildung oder ein Studium zu unterstützen. Zahlreiche Unternehmen, darunter auch kleine und mittlere, haben sich mit Schulen vernetzt. Beide Seiten profitieren voneinander und von entstehenden Synergieeffekten.<br>
                <br>
                Partnerschaften zwischen Schulen und Unternehmen können unterschiedlich gestaltet sein. Inhalte, Formen und Nachhaltigkeit sind entsprechend der Bedürfnisse und Möglichkeiten gestaltbar.</p>
        </div>
        <button type="button" class="show-more-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39"><g><g><path fill="none" stroke="#a7bcb8" stroke-miterlimit="50" stroke-width="4" d="M4.943 3.223v0l15.26 15.657a1.064 1.064 0 0 1 0 1.472L4.942 36.009v0l-1.435-1.472v0l14.538-14.916v0L3.498 4.705v0z"/></g></g></svg>
        </button>
    </section>
    <section class="service-description">
        <h3 class="service-description-name">LErnpartnerschaften</h3>
        <div class="service-description-row">
            <div class="service-description-icon-block">
                <img class="service-description-icon" src="assets/img/svg/service-description-1.svg" alt="">
            </div>
            <p class="service-description-text">Eine Schule kooperiert mit einem Unternehmen auf Grundlage eines auf Langfristigkeit angelegten Kooperationsvertrages</p>
        </div>
        <h3 class="service-description-name">Betrieb als Lernort</h3>
        <div class="service-description-row">
            <div class="service-description-icon-block">
                <img class="service-description-icon" src="assets/img/svg/service-description-2.svg" alt="">
            </div>
            <p class="service-description-text">Praktikum, Praxislerntag, Betriebsbesichtigung, Schnuppertag, fachbezogene Einzelkooperation</p>
        </div>
        <h3 class="service-description-name">Projektbezogene Zusammenarbeit</h3>
        <div class="service-description-row">
            <div class="service-description-icon-block">
                <img class="service-description-icon" src="assets/img/svg/service-description-3.svg" alt="">
            </div>
            <p class="service-description-text">Praktikum, Praxislerntag, Betriebsbesichtigung, Schnuppertag, fachbezogene Einzelkooperation</p>
        </div>
        <h3 class="service-description-name">BEtrieb als Ort für Lehrkräftefortbildung</h3>
        <div class="service-description-row">
            <div class="service-description-icon-block">
                <img class="service-description-icon" src="assets/img/svg/service-description-4.svg" alt="">
            </div>
            <p class="service-description-text">Praktikum als Lehrkraft, Veranstaltungen zu Berufsbildern und betrieblichen Anforderungen</p>
        </div>
    </section>
    <section class="scule">
        <h2 class="section-name">Unternehmen als Berater der Schule</h2>
        <p class="network-text">Führungsverantwortliche im Unternehmen treten mit Schulleitungen in Erfahrungs-austausch über Führungsthemen.<br>
            <br>
            Für eine professionelle Arbeit in einer Schülerfirma kann ein Unternehmenspartner sehr wertvoll sein Das gilt auch für Schülerfirmen. Unternehmen, Vereine, Institute, Mitarbeitende aus Hochschulen, andere Schülerfirmen oder engagierte Privatleute können z.B. als Mentoren agieren.<br>
            <br>
            Im Folgenden sind Unternehmen gelistet, die sich als Partner für Schülerfirmen zur Verfügung stellen und unterschiedliche Dienstleitungen anbieten.</p>
    </section>
    <section class="unser">
        <h2 class="section-name">Unser Qualitätssiegel</h2>
        <p class="network-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br>
            <br>
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam <br>
            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </section>
    <section class="messe">
        <h2 class="section-name">MEsse<br> Schülerfirmen</h2>
        <p class="network-text">Partnerschaften zwischen Schulen und Unternehmen haben sich in der Vergangenheit als erfolgreiche Instrumente erwiesen, Jugendliche auf ihrem Weg in eine Ausbildung oder ein Studium zu unterstützen. Zahlreiche Unternehmen, darunter auch kleine und mittlere, haben sich mit Schulen vernetzt. Beide Seiten profitieren voneinander und von entstehenden Synergieeffekten.<br> 
            <br>
            Partnerschaften zwischen Schulen und Unternehmen können unterschiedlich gestaltet sein. Inhalte, Formen und Nachhaltigkeit sind entsprechend der Bedürfnisse und Möglichkeiten gestaltbar.</p>
    </section>
    <section class="logos">
        <div class="logos-row">
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-1.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-2.svg" alt="">
            </div>
            <div class="logos-item mod-full">
            <img class="logos-img" src="assets/img/svg/logos-3.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-4.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-5.svg" alt="">
            </div>
            <div class="logos-item">
            <img class="logos-img" src="assets/img/svg/logos-6.svg" alt="">
            </div>
        </div>
    </section>
  </div> 
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>