// footer
//-----------------------------------------------------------------------------------
.footer{
    padding: 45px 353px;
    box-sizing: border-box;
    height: auto;
    @media (max-width: 1730px){
        padding-left: 100px;
    }
    @media (max-width: 1730px){
        padding-left: 20px;
    }
    @media (max-width: 991px) {
        padding-right: 20px;
    }
    @media (max-width: 767px){
        padding-bottom: 10px;
    }
}
.footer-row{
    width: 950px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}
.footer-link{
    color: #285269;
    font-family: $SofiaB;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.12px;
    position: relative;
    @media (max-width: 767px){
        margin-bottom: 30px;
    }
    &.mod-phone{
        padding-left: 23px;
        &:before{
            content: '';
            position: absolute;
            width: 13px;
            height: 14px;
            background: url(../img/svg/phone.svg) center center no-repeat;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &.mod-mail{
        padding-left: 28px;
        &:before{
            content: '';
            position: absolute;
            width: 18px;
            height: 13px;
            background: url(../img/svg/mail.svg) center center no-repeat;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}