// header
//-----------------------------------------------------------------------------------

.main-header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: none;
    @media (max-width: 991px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    }
}
.logo-img{
    @media (max-width: 767px) {
        width: 101px;
    }
}
.header{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 68px 74px;
    box-sizing: border-box;
    @media (max-width: 1200px) {
        padding: 20px 23px;
    }
    @media (max-width: 991px) {
        position: fixed;
        background-color: #fff;
    }
}