// nav
//-----------------------------------------------------------------------------------

.nav{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 333px;
    height: 100vh;
    background: url(../img/bav-bg.png) top -4px right -8px;
    box-shadow: 0 3px 10px rgba(41, 44, 53, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 82px;
    transition: 0.3s;
    max-width: 100%;
    @media (max-width: 991px) {
        transform: translateX(100%);
        align-items: flex-end;
        padding-left: 0;
        padding-right: 29px;
        &.active{
            transform: translateX(0);
        }
    }
}
.nav-link{
    color: #363636;
    font-family: $Sofia;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 60px;
    @media (max-width: 991px) {
        margin-bottom: 43px;
    }
    &:last-child{
        margin-bottom: 0;
    }
    &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.3s;
        height: 10px;
        width: 0;
        background-color: #2e7166;
        z-index: -1;
        @media (max-width: 991px){
            left: -20px;
        }
    }
    &.active{
        &:before{
            width: 73px;
        }
    }
    &:hover{
        text-decoration: none;
        &:before{
            width: 73px;
        }
    }
}
.nav-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 63px;
    @media (max-width: 991px){
        bottom: 44px;
    }
}
.close-menu{
    display: none;
    @media (max-width: 991px) {
        display: block;
        position: absolute;
        top: 25px;
        right: 40px;
    }
}